#banner-slider{
	padding: 20px 0 30px;
}
#all-posts{
	padding: 0 0 30px;
}
.post-preview{
	.clearfix();
	padding: 40px 0;
}
.post-thumbnail,
.post-info{
	width: 48%;
	float: left;

}
.post-thumbnail{
	padding-right: 30px;
	position: relative;
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: @gray;
		position: absolute;
		right: -100%;
		bottom: 0;
	};
	img{
		min-width: 100%;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1);
	    -webkit-backface-visibility: hidden;
	    -webkit-perspective: 1000;
	}
}
.post-info{
	padding-left: 30px;
}
h4.post-title{
	margin: 0 0 20px;
	display: block;
	line-height: 1.15;
}
.post-excerpt{
	padding: 20px 0 45px;
}
.post-content{
	width: 100%;
	margin-bottom: 30px;
	padding-left: 100px;
	position: relative;
	h4{
		margin: 70px 0 35px;
		&:after{
			display: none;
		};
	}
	img{
		margin: 20px 0;
		display: block;
		width: auto;
	}
	p{
		line-height: 2.4;
	}
}
#post-image,
#post-content{
	padding: 20px 0;
}
.share-buttons{
	position: absolute;
	top: 0;
	left: 0;
}
.share-icon{
	width: 40px;
	height: 40px;
	border: 1px solid @gray;
	display: block;
	margin-bottom: 5px;
	margin-right: 5px;
	i{
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}
.share-vk{
	font-size: 9px;
	&:hover, &:active{
		background: #45668e;
		border: 1px solid #45668e;
		color: #ffffff;
	};
}
.share-fb{
	font-size: 12px;
	&:hover, &:active{
		background: #3b5998;
		border: 1px solid #3b5998;
		color: #ffffff;
	};
}
.share-ok{
	font-size: 14px;
	&:hover, &:active{
		background: #F6881F;
		border: 1px solid #F6881F;
		color: #ffffff;
	};
}
.share-yt{
	font-size: 13px;
	&:hover, &:active{
		background: #bb0000;
		border: 1px solid #bb0000;
		color: #ffffff;
	};
}