.form-fields{
	.clearfix();
	margin-bottom: 10px;
	label{
		display: block;
	}
	input{
		display: block;
		border: 1px solid @gray;
		width: 100%;
		height: 40px;
	}
	.country-code{
		width: 30%;
		float: left;
		margin-right: 1%;
	}
	.phone-numb{
		width: 69%;
	}
}
.send-form{
	.clearfix();
	background: @main-color;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0px 20px;
	height: 40px;
	line-height: 40px;
	border: 0;
	margin: 30px auto;
	display: block;
}

.x-form-button{
	display: block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size: 32px;
	color: #cdcdcd;
	position: absolute;
	right: 10px;
	top: 10px;
}

.callback-popup {
	width: 100%;
    max-width: 600px;
    background: #ffffff;
    padding: 40px 80px;
    h4{
    	letter-spacing: 0;
    	text-align: center;
    }
}

.modal-box {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.modal-overlay {
	opacity: 0;
	filter: alpha(opacity=0);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7) !important;
}
a.close {
	line-height: 30px;
	font-size: 37px;
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	color: #b6b6b6;
	background: #ffffff;
}