h4{
	margin: 10px 0 35px;
	position: relative;
	&:after{
		content: '';
		width: 100%;
		height: 1px;
		background: @gray;
		position: absolute;
		bottom: -15px;
		left: 0;
	};
}

.side-category-bar{
	padding-right: 60px;
	h6.ui-accordion-header{
		margin: 0;
		padding: 0;
		span{
			position: relative;
			&:after{
			content: "\e90e";
			font-family: 'ecotex';
			display: block;
			position: absolute;
			top: 11px;
			right: -25px;
			font-size: 4px;
		};
		}
		
	}
	h6.ui-state-active{
		span{
			&:after{
				transform: rotate(180deg);
				top: 10px;
			};
		}
	}
	.ui-accordion-content-active{
		display: block !important;
	}
	.ui-icon{
		display: none;
	}
	.category-block{
		padding: 0;
		margin: 0;
	}
	.category-widget ul{
		position: relative;
		z-index: 10;
		margin: 0 0 35px 0;
	}
	.category-widget ul li{
		color: @text-color-light;
		font-size: 14px;
		line-height: 2.6;
	}
}
.category-widget-title{
	&:after{
		content: "\e90e";
		font-size: 6px;
		font-family: 'ecotex';
		right: 0px;
		top: 10px;
		position: absolute;
	};
}
.category-widget-title.on{
	&:after{
		transform: rotate(180deg);
	}
}

    
