#stunning-header{
	background: url(../../assets/img/bg-header.jpg) no-repeat center center;
	background-size: cover;
	padding: 70px 0 95px;
}
.breadcrumbs{
	margin: 10px 0;
}
.breadcrumbs-link{
	display: inline-block;
	font-size: 14px;
	color: @text-color-light;
	position: relative;
	padding-right: 20px;
	&:after{
		content: "\e90e";
		font-family: 'ecotex';
		font-size: 5px;
		display: block;
		width: 8px;
		height: 10px;
		background-size: contain;
		transform: rotate(270deg);
		position: absolute;
		top: 3px;
		right: 4px;
	};
	&:last-child{
		&:after{
			display: none;
		};
	};
}
.page-title h1{
	text-transform: none;
	margin: 10px 0;
}
#category{
	margin: 0 0 65px;
}

.collections-widget{
	margin-top: 65px;
	ul li{
		font-size: 18px;
		line-height: 2;
	}
}
.filters-title{
	font-size: 14px;
	color: @text-color-light;
	padding-right: 25px;
	vertical-align: middle;
}
select.filter{
	padding: 10px;
	border: 1px solid @gray;
	border-radius: 0;
	background: #ffffff;
	font-size: 14px;
	width: 164px;
}
select#sort-by-filter{
	width: 156px;
}
option{
	font-size: 14px;
	font-family: @font;
	&:hover{
		color: @main-color;
	};
}
.category-filters{
	.clearfix();
	margin: 11px 0;
	position: relative;
	z-index: 900;
}
.dd-container{
	display: inline-block;
	vertical-align: middle;
}
.dd-select{
	border-radius: 0 !important;
	border: 1px solid @gray !important;
	font-size: 14px;
	padding: 2px 0;
	z-index: 2001;
	.dd-pointer-up{
		border: none !important;
		margin-top: -3px !important;
	}
}
.dd-selected{
	font-size: 14px;
	&:hover{
		text-decoration: none;
	};
}
.dd-options{
	box-shadow: none !important;
	border: 1px solid @gray !important;
	z-index: 2002 !important;
}
.dd-option{
	font-size: 14px;
	font-family: @font;
	border: none !important;
	color: @text-color-light !important;
	&:hover{
		color: @main-color !important;
		text-decoration: none;
		background: #ffffff !important;
	};
}
.dd-pointer-down{
	position: relative;
	border: none !important;
	&:before{
		content: "\e90e";
		font-size: 6px;
		font-family: 'ecotex';
		right: 0;
		position: absolute;
	};
}
.dd-pointer-up{
	border: solid 5px transparent !important;
    border-bottom: solid 5px transparent !important;
}
.dd-pointer-up{
	position: relative;
	border: none !important;
	&:before{
		content: "\e90e";
		font-size: 6px;
		font-family: 'ecotex';
		right: 0;
		position: absolute;
		transform: rotate(180deg);
	};
}

.category-product-item{
	margin: 20px 0 30px;
	position: relative;
}
.pagination{
	margin: 20px 0;
	text-align: center;
}
.pagination-btn{
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	border: 1px solid @gray;
	color: @text-color-titles;
	text-decoration: none;
	position: relative;
	&:hover{
		text-decoration: none;
		background: @main-color;
		border: 1px solid @main-color;
		color: #ffffff;
	};
}
.current-page{
	background: @main-color;
	border: 1px solid @main-color;
	color: #ffffff;
	&:hover{
		color: #ffffff;
	};
};

.prev-page, .next-page{
	transform: rotate(90deg);
		&:after{
			content: "\e90e";
			font-family: 'ecotex';
			font-size: 6px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		};
		&:hover{
			&:after{
				color: #ffffff;
			};
		};
	}
.next-page{
	transform: rotate(270deg);
}
.all-page{
	padding: 0 15px;
	width: auto;
}

.label{
	position: absolute;
	top: 15px;
	left: 30px;
	li{
		display: inline-block;
		width: 37px;
		height: 37px;
		padding: 10px 0 0;
		border-radius: 50%;
		font-size: 14px;
		color: #ffffff;
		text-align: center;
		margin-right: -8px;
		font-weight: 300;
		letter-spacing: 0.5px;
	}
	.hot{
		background: #ffab0a;
	}
	.sale{
		background: #cd2f5d;
	}
	.new{
		background:  #74a73a;
	}
}


