@font-face {
  font-family: 'ecotex';
  src:  url('../fonts/ecotex.eot?t0r5ys');
  src:  url('../fonts/ecotex.eot?t0r5ys#iefix') format('embedded-opentype'),
    url('../fonts/ecotex.ttf?t0r5ys') format('truetype'),
    url('../fonts/ecotex.woff?t0r5ys') format('woff'),
    url('../fonts/ecotex.svg?t0r5ys#ecotex') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ecotex' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-logout:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e8d0";
}
.icon-play:before {
  content: "\e907";
}
.icon-play-button:before {
  content: "\e908";
}
.icon-pointer:before {
  content: "\e909";
}
.icon-fb:before {
  content: "\e90a";
}
.icon-ok:before {
  content: "\e90b";
}
.icon-vk:before {
  content: "\e90c";
}
.icon-yt:before {
  content: "\e90d";
}
.icon-arrow:before {
  content: "\e90e";
}
.icon-placeholder:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e900";
}
.icon-pdf:before {
  content: "\e901";
}
.icon-xls:before {
  content: "\e902";
}