footer{
	background: @gray-light;
	border-top: 1px solid @gray;
}
.footer-menus,
.subfooter{
	.clearfix();
}
.footer-menus{
	margin: 80px -15px 0;
}
.footer-menu{
	margin: 15px 0 65px;
}
.footer-menu-item{
	line-height: 36px;
	a{
		font-size: 14px;
		color: @text-color-light;
	}
}
.footer-social-item{
	display: inline-block;
	margin-right: 8px;
}
.social-link{
	display: block;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	border: 1px solid #e3e3e3;
	background: #e3e3e3;
	position: relative;
	&:after{
		content: " ";
		font-family: 'ecotex';
		display: block;
		position: absolute;
		top: 54%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: @text-color-bright;
		.ease-in-out(0.1s);
	};
	&:hover{
		&:after{
			color: #ffffff;
		};
	};
}
.vk{
	&:after{
		content: "\e90c";
		font-size: 9px;
	};
	&:hover{
		background: #45668e;
		border: 1px solid #45668e;
	};
}
.fb{
	&:after{
		content: "\e90a";
		font-size: 12px;
	};
	&:hover{
		background: #3b5998;
		border: 1px solid #3b5998;
	};
}
.ok{
	&:after{
		content: "\e90b";
		font-size: 14px;
	};
	&:hover{
		background: #F6881F;
		border: 1px solid #F6881F;
	};
}
.yt{
	&:after{
		content: "\e90d";
		left: 56%;
    	font-size: 13px;
	};
	&:hover{
		background: #bb0000;
		border: 1px solid #bb0000;
	};
}
.subfooter{
	padding: 40px 0;
}
.copy{
	float: left;
	font-size: 14px;
	color: @text-color-bright;
}
.footer-tel{
	float: right;
	font-size: 14px;
	color: @text-color-bright;
	a{
		padding-left: 20px;
	}
}
