header{
	background: #ffffff;
	.clearfix();
	color: @text-color-bright;
	a, span{
		font-size: 12px;
	}
}
.sticky, .sticking{
	width: 100%;
	z-index: 100000;
}
.sticking{
		border-bottom: 1px solid @gray;
	}
@media (max-width: 899px ){
	.top-header.sticky.stick-me.sticking{
			display: none !important;
		}
}

.top-header{
	width: 100%;
	/*min-width: 1270px;*/
	height: 41px;
	line-height: 40px;
	margin: 0 auto;
	.clearfix();
	background: @gray-light;
	border-bottom: 1px solid @gray;
}
	.top-menu{
		width: 5%;
		max-width: 60px;
		float: left;
		border-right: 1px solid @gray;
		padding: 0 10px;
		.icon-menu{
			width: 20px;
			height: 40px;
			margin: 0 10px 0;
			background: transparent;
			cursor: pointer;
			.hamburger-icon{
				display: block;
				width: 20px;
				height: 2px;
				background: @color-hightlight;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				&:before, &:after{
					content:"";
					display: block;
					width: 20px;
					height: 2px;
					background: @color-hightlight;
					position: absolute;
				};
				&:before{
					margin-top: -6px;
				};
				&:after{
					margin-top: 6px;
				};
			}
		}
	}
	.top-links{
		width: 23%;
		float: left;
		border-right: 1px solid @gray;
		text-align: center;
		li{
			display: inline-block;
			padding: 0 12px;
		}
		a{font-size: 13px;}
	}
	.top-info{
		width: 27%;
		float: left;
		padding-left: 15px;
		.tel{
			display: inline-block;
			padding-left: 5px;
		}
		.callback{
			display: inline-block;
		}
	}
	.top-callback{
		width: 25%;
		float: right;
		text-align: center;
		border-right: 1px solid @gray;
		a{
			text-transform: uppercase;
			margin-left: 15px;
		}
	}
	.info{
		padding-left: 15px;
	}
	.sign-in{
		width: 11%;
		float: right;
		text-align: center;
		border-right: 1px solid @gray;
		a{font-size: 13px;}			
	}
	.sign-up{
		width: 9%;
		float: right;
		text-align: center;
		a{font-size: 13px;}
	}
.bottom-header{
	margin: 10px auto 0;
	position: relative;
}
.logo{
	width: 225px;
	float: left;
	img{
		width: 100%;
	}
}
.nav-fluid{
	margin-left: 310px;
	margin-right: 160px;
	height: inherit;
	padding: 0 20px;
	height: inherit;
}
.nav{
	width: 100%;
	height: inherit;
    z-index: 990;
    display: inline-block;
    position: relative;
    min-width: 100%;
    margin: 0 auto;
	.nav-primary{
		width: 20000em;
		display: block;
	    margin: 0;
	    padding: 0;
	    z-index: 15;
	    list-style: none;
	    text-align: center;
	    &:before, &:after{
	    	    content: ".";
			    display: block;
			    overflow: hidden;
			    visibility: hidden;
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    font-size: 0;
			    line-height: 0;
			    width: 0;
			    height: 0;
			    -webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
	    };
	}
	li{
		display: inline-block;
		padding: 0 7px;
		text-align: center;
    	float: left;
    	list-style: none;
    	margin: 0;
    	position: relative;
		a{
			font-size: 14px;
		    display: inline-block;
		    padding: 38px 5px;
		    text-transform: uppercase;
		}
	}
}
.carousel-nav{
	display: block;
    position: absolute;
    z-index: 9999;
    height: 40px;
    top: 21px;
    font-size: 10px;
    color: @text-color-bright;
    -webkit-transition: color .3s ease-in-out, opacity .3s ease-in-out;
    -moz-transition: color .3s ease-in-out, opacity .3s ease-in-out;
    transition: color .3s ease-in-out, opacity .3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    &:hover{
    	color: @main-color;
    };
}
.carousel-nav.prev{
	left: 0;
    margin-left: -35px;
    &:before{
    	transform: rotate(90deg) translateY(-50%);
    	display: block;
    	top: 50%;
    	position: relative;

    };
}
.carousel-nav.next{
	right: 0;
    margin-right: -35px;
    &:before{
    	transform: rotate(270deg) translateY(-50%);
    	display: block;
    	top: 50%;
    	position: relative;

    };
}
.nav-first{
	/*position: relative;*/
	&:hover{
		a.nav-first-link{
			position: relative;
			&:after{
				content:'';
				width: 100%;
				height: 2px;
				background: @main-color;
				position: absolute;
				bottom: 20px;
				left: 0;
			};
		}
	};
}
.nav-first.active{
	&:hover{
		a.nav-first-link{
			position: relative;
			&:after{
				content:'';
				width: 100%;
				height: 2px;
				background: @main-color;
				position: absolute;
				bottom: 20px;
				left: 0;
			};
		}
		.hover-menu{
			display: block;
		}
	};
}
.search{
	float: right;
	width: 80px;
	i.icon-search{
		font-weight: 700;
		margin: 36px 0 36px 45px;
		display: block;
		cursor: pointer;
	}
	i.icon-search.open{
		color: @main-color;
	}
	.search-line{
		display: none;
		position: absolute;
		width: 100%;
		left: 0;
		top: 92px;
		z-index: 799;
		background: @gray-light;
		border-top: 1px solid @gray;
		border-bottom: 1px solid @gray;
		padding: 10px 0;
		.search-form{
			position: relative;
			&:before{
				content: "\e911";
				font-family: 'ecotex';
				width: 30px;
				height: 30px;
				font-size: 30px;
				position: absolute;
				left: 10px;
				top: 20px;
				font-weight: 700;
				color: @text-color-bright;
				backface-visibility: hidden;
			};
		}
		input{
			height: 70px;
			width: 100%;
			background: @gray-light;
			font-size: 30px;
			letter-spacing: 3px;
			font-weight: 300;
			margin-left: 80px;
			backface-visibility: hidden;
			font-family: @font;
		}
	}
}

.nav-second{
	background: @gray-light;
	border: 2px solid @gray;
	border-bottom: 1px solid @gray;
	padding: 55px 50px 50px;
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	top: 85px;
	max-width: 690px;
	z-index: 1000;
	display: none;
	.inner-menus{
		.clearfix();
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		width: 0;
	    height: 0;
	    border-bottom: 10px solid @gray;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    position: absolute;
	    top: -10px;
	    left: 50%;
	    transform: translateX(-50%);
	};
	.submenu{
		display: inline-block;
		margin-right: 50px;
		text-align: left;
		}
		.submenu-items{
			margin: 20px 0 0;
			li{
				padding: 0;
				display: block;
				float: none;
				text-align: left;
				a{
					font-size: 14px;
					color: @text-color-light;
					line-height: 2.6;
					padding: 0;
					text-transform: none;
				}
			}
		}
}




.mobile-header{
	display: none;
	.mobile-menu{
			width: 30px;
			float: right;
			.hamb-menu-wrap{
				width: 20px;
				height: 60px;
				background: transparent;
				cursor: pointer;
				float: right;
				.hamburger-icon{
					width: 20px;
					height: 2px;
					background: @text-color-bright;
					display: block;
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					&:before, &:after{
						content:"";
						display: block;
						width: 20px;
						height: 2px;
						background: @text-color-bright;
						position: absolute;
					};
					&:before{
						margin-top: -5px;
					};
					&:after{
						margin-top: 5px;
					};
				}
			}
			.hamb-menu-wrap.open{
				background: #ffffff;
				.hamburger-icon{
					background: @main-color;
					&:before,
					&:after{
						background: @main-color;
					};
				}
			}
			.open-mobile-menu{
				width: 100%;
				position: absolute;
				background: @gray-light;
				border: 1px solid @gray;
				top: 76px;
				z-index: 700;
				right: 0;
				padding: 30px 30px 0;
				.mobile-menu-item{
					padding: 10px;
					font-size: 12px;
					border-bottom: 1px solid #c5c5c5;
					/*.background(0.3s);*/
					&:last-child{
						border-bottom: 0;
					};
					&:hover, &:active{
						background: #f7f7f7;
					};
				}
				.anchor-link{
					background: #111525;
					color: #fff;
					/*.background(0.3s);*/
					&:hover, &:active{
						background: #1c2031;
						a{
							/*color: @site-light-color;*/
						}
					};
				}
			}
	}
}
.open-mobile-menu{
	.nav-second{
		display: none;
	}
	.nav{
		float: none;
		margin-bottom: 10px;
		li{	
			padding:0;
			float: none;
			text-align: left;
			a{
				padding: 10px 0;	
				font-size: 16px;
			}
		}
	}
	.nav-first-mobile{
		&:after{
			content: "\e90e";
			font-size: 6px;
			font-family: 'ecotex';
			right: 0px;
			top: 10px;
			position: absolute;
		};
	}
	.nav-first-mobile.on{
		&:after{
			transform: rotate(180deg);
		}
	}
	.mobile-submenu-items{
		li{
			display: block;
			a{
				font-weight: 300;
    			text-transform: none;
    			padding-left: 10px;
			}
		}
	}
	.nav-first{
		display: block;	
	}
	.top-links,
	.top-info,
	.callback-mobile-menu{
		.clearfix();
		width: 100%;
		float: none;
		text-align: left;
		padding: 15px 0;
		border-right: 0;
	}
	.top-info{
		border-bottom: 1px solid @gray;
	}
	.callback-mobile-menu{
		display: none;
	}
	.top-info .tel,
	.callback-mobile-menu a{
		font-size: 16px;
		text-transform: uppercase;
		padding: 0 10px 0 0;
	}
	.top-links, .callback-mobile-menu{
		border-bottom: 1px solid @gray;
	}
	.sign-up,.sign-in{
		width: 50%;
		border-right: 0;
		padding: 20px 0;	
		a{
			font-size: 16px;
		}
	}
	.info{
		display: block;
		padding: 0;
	}

}
.callback-mobile-header{
		width: 30px;
	    height: 60px;
	    float: right;
	    i.icon-phone{
	    	font-size: 18px;
		    margin: 22px 0 0;
		    display: block;
	    }
	}	


.cart-content{
	height: 100%;
    line-height: 92px;
    display: inline-block;
    position: relative;
    &:hover{
    	.cart-item{
    		opacity: 1;
    	}
    };
}	
.total-cart{
	width: 80px;
	float: right;
	text-align: center;
}
.cart-item{
	font-size: 28px;
	text-align: center;
    vertical-align: middle;
    opacity: 0.5;
    color: @text-color-bright;
    
}
.cart-details{
	position: absolute;
	width: auto;
	min-width: 20px;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	border-radius: 20px;
	background: @main-color;
	color: #ffffff;
	top: 28px;
	right: -10px;
	text-align: center;
}
.cart-box{
	display:none;
	width: 300px;
	position: absolute;
	background: #ffffff;
	border: 2px solid @gray;
	padding: 20px ;
	right:40px;
	top: 70px;
	z-index: 800;
}
.shoping-cart-content{
	font-size: 14px;
}
.shopping-buttons{
	.clearfix();
	padding: 20px 0 0;
	.btn{
		width: 100%;
		margin-bottom: 5px;
	}
}
.cart-box.active{
	display: block;	
}


.reg-links{
	.clearfix();
	max-width: 258px;
}

#callbackPopupMobileHeader{
	width: 300px;
	padding: 30px 20px 20px;
	h4{
		font-size: 22px;
		font-weight: 400;
		&:after{
			display: none;
		};
	}
}

.mobile-header{
	background: #ffffff;
}
