.ie-overlay{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000000;
	opacity: 0.85;
	z-index: 100000;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
}
.ie-notification{
	display: none;
	position: fixed;
	background: #ffffff;
	z-index: 100001;
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -230px;
	width: 620px;
	text-align: center;
	padding: 40px;
	.btn{
		display: block;
		text-transform: uppercase;
		color: #ffffff;
		background: @main-color;
		width: 180px;
		padding: 15px 20px;
		font-size: 16px;
		margin: 20px auto;
	}
	small a{
		color: @main-color;
	}
}