body{
	font-family: @font;
	position: relative;
}
@-moz-document url-prefix() {
 body{
 	overflow-x: hidden;
 }
}
section{
	.clearfix();
}
a{
	&:hover{
		color: @main-color;
	};
}
.hide{
	display: none !important;
}
.show, .open{
	display: block !important;
}
.del{
	.clearfix();
	width: 100%;
	height: 1px;
	background: @gray;
}
.slider-item{
	position: relative;
	img{
		width: 100%;
	}
}
.slider-title{
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
	left: 65px;
}
.slick-dots{
	left: 70px;
	position: absolute;
	bottom: 70px;
		li{
			display: inline-block;
			margin-right: 30px;
			button{
				font-size: 0;
				color: transparent;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: #a7a7a7;
				border:0;
				padding: 0;
				margin: 0; 
			}
		}
		li.slick-active{
			button{
				width: 10px;
				height: 10px;
				background: @main-color;
			}
		}
}


.features-item{
	margin-bottom: 40px;
}
.features-icon{
	width: 70px;
	margin-right: 30px;
	float: left;
	img{
		width: auto;
	}
}
.features-text{
	padding-left: 100px;
}
.features-list{
	margin: 25px 0 0;
}
.section-titles{
	.clearfix();
	padding: 0 15px 25px;
	h2{
		float: left;
	}
}
.top-sales-products,
.our-products-item{
	.clearfix();
	margin: 20px 0;
}

.thumb-link{
	margin-bottom: 25px;
	display: block;
	height: 330px;
	img{
		height: 100%;
	}
}
.news-meta{
	display: block;
}
.news-item{
	margin: 20px 0;
}
.news-thumb{
	height: auto;
}
.seo-text {
	margin-top: 35px;
	-webkit-column-width: 400px;
    -moz-column-width: 400px;
    column-width: 400px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 40px;
    -webkit-column-rule: 1px solid transparent;
    -moz-column-rule: 1px solid transparent;
    column-rule: 1px solid transparent;
    p{
    	break-inside:avoid;
    }
}
.testimonials-carousel{
	.clearfix();
	margin: 20px 50px 0;
	&:hover{
		.slick-prev,
		.slick-next{
			&:after{
				color: @text-color-bright;
			};
		}
	};
}
.testimonials-item{
	width: 330px;
	float: left;
	margin: 0 12px;
	span{
		vertical-align: middle;
	}
}
.testimonials-text{
	padding: 45px 30px;
	background: #ffffff;
	margin: 0 0 30px;
	color: @color-hightlight;
	font-size: 15px;
	line-height: 1.6;
	position: relative;
	&:after{
		content:"";
		display: block;
		width: 0;
		height: 0;
		border-top: 11px solid #ffffff; 
		border-left: 11px solid transparent;
		position: absolute;
		bottom: -11px;
		left: 18px;
	};
}
.testimonials-name{
	display: block;
	font-size: 16px;
	color: @text-color-bright;
}
.testimonials-job{
	display: block;
	color: @text-color-light;
	font-size: 13px;
	margin: 5px 0 0;
}
.testimonials-meta{
	float: left;
	padding-left: 30px;
}
.testimonials-logo{
	float: right;
	padding-right: 30px;
}
#our-features{
	padding: 85px 0 0;
}
#our-features-product{
	padding: 75px 0 25px;
	.features-row{
		margin-top: 45px;
	}

}
#top-sales,
#our-products,
#testimonials,
#company-news,
#product-collections{
	padding: 75px 0 60px;
}
#testimonials{
	background: @gray-light;
}
#about-company,
#about-category{
	padding: 75px 0 40px;
	.section-titles{
		padding: 0 0 25px;
	}
}


.category-product-thumb{
	display: block;
	width: 284px;
	height: 254px;
}


	.slick-prev,
	.slick-next{
		font-size: 0;
		color: transparent;
		background: transparent;
		border: 0;
		padding: 0;
		margin: 0;
		width: 29px;
		height: 11px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&:after{
			content: "\e909";
			display: block;
			width: 29px;
			height: 11px;
			font-size: 10px;
			font-family: 'ecotex';
			color: @gray;
			position: absolute;
			top: 50%;
			.ease-in-out(0.3s);
		};
	};
	
	.slick-prev{
		&:after{
			transform: rotate(180deg);
		};
		left: -30px;
	}
	.slick-next{
		right: -30px;
	}