.personal-data,
.last-orders,
.useful,
.catalogue{
	.clearfix();
	padding: 40px 0 40px;
}
.catalogue{
	padding-bottom: 80px;
}
.personal-data{
	padding-top: 22px;
}
.lk-titles{
	margin: 10px 0 30px;
}
.personal-data-col{
	width: 50%;
	float: left;
}
.personal-data-item{
	margin: 20px 0;
}
table{
	width: 100%;
}
td{
	vertical-align: middle;
	padding: 10px 0;
}
.last-order-meta{
	display: block;
	font-size: 13px;
	color: @text-color-light;
	margin: 5px 0;
}
.last-orders-date,
.last-orders-amount,
.canceled,
.useful-date,
.catalogue-date{
	color: @text-color-light;
}
.last-orders-titles,
.useful-date,
.catalogue-date{
	width: 21%;
}
.last-orders-date{
	width: 16%;
}
.last-orders-amount{
	width: 15%
}
.last-orders-more,
.useful-more,
.catalogue-more{
	width: 18%;
}
.lk-nav{
	.clearfix();
	display: block;
	margin-top: 20px;
	li{
		line-height: 3.6;
	}
}
.lk-nav-link{
	position: relative;
	padding: 20px 0 20px 50px;
	&:before{
		font-family: 'ecotex';
		display: inline-block;
		position: absolute;
		left: 0;
		top:-10px;
		font-size: 22px;
		opacity: 0.5;
	};
	&:after{
		content: "\e909";
		font-family: 'ecotex';
		font-size: 10px;
		color: @main-color;
		position: relative;
		right: -10px;
		display: none;
	};
	&:hover{
		&:before{
			opacity: 1;
		};
	};
}
.lk-nav-link.active{
	color: @main-color;
	&:before{
		opacity: 1;
	};
	&:after{
		display: inline-block;
	};
}
.lk-nav-my-akk{
	position: relative;
	&:before{
		content: "\e904";
		font-size: 25px;
		top: -15px;
	};
}
.lk-nav-personal-data{
	&:before{
		content: "\e8d0";
		font-size: 24px;
		top: -12px;
	};
}
.lk-nav-my-orders{
	&:before{
		content: "\e903";
		font-size: 23px;
	};

}
.lk-nav-mailing{
	&:before{
		content: "\e900";
	};
}
.lk-nav-logout{
	&:before{
		content: "\e905";
	};
}
.download-contract{
	color: @main-color;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	padding-left: 20px;
	right: -30px;
	&:before{
		content: "\e901";
		font-family: 'ecotex';
		opacity: 0.5;
		font-size: 26px;
		position: absolute;
		top: -6px;
		left: -15px;
	};
	&:hover{
		&:before{
			opacity: 1;
		};
	};
}
.catalogue-icon-pdf,
.price-list-icon-xls{
	padding-left: 45px;
	position: relative;
	display: block;
	&:before{
		content: "\e901";
		font-family: 'ecotex';
		opacity: 0.5;
		font-size: 26px;
		position: absolute;
		top: -5px;
		left: 0;
	};
}
.price-list-icon-xls{
	&:before{
		content: "\e902";
	};
}
