@main-color: #9a6ea1;
@main-hover-color: #7e5784;

@color-hightlight: #5b5b70;

@text-color-bright: #1f2124;
@text-color-light: #84848d;
@text-color-titles: #3b3b42;




@gray: #ebebed;
@gray-light: #fafafa;


@font: 'Roboto Condensed', Arial, Sans-serif;

.clearfix(){
	&:before,
	&:after{
		content:'';
		display:table;
		clear:both;
	}
}
.box(){
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.ease(@sec){
	-webkit-transition: all @sec ease;
	-moz-transition: all @sec ease;
	transition: all @sec ease;
}

.ease-in-out(@sec){
	-webkit-transition: all @sec ease-in-out;
	-moz-transition: all @sec ease-in-out;
	transition: all @sec ease-in-out;
}
.background(@sec){
	-webkit-transition: background @sec ease-in-out;
	-moz-transition: background @sec ease-in-out;
	transition: background @sec ease-in-out;
}
.color(@sec){
	-webkit-transition: color @sec ease-in-out;
	-moz-transition: color @sec ease-in-out;
	transition: color @sec ease-in-out;
}
