#inner-header{
	margin: 15px 0 10px;
}
.category-collections{
	.clearfix();
	margin: 10px 0;
}
.size{
	.clearfix();
	margin: 30px 0;
}
.size-btn{
	height: 40px;
	border: 1px solid @gray;
	color: @text-color-titles;
	background: #ffffff;
	font-size: 14px;
	padding: 0 20px;
	margin: 10px 5px 0px 0;
	&:hover, &:focus, &:active{
		color: @main-color;
		border: 1px solid @main-color;
	};
}

.bulk-buy, .retail-buy{
	width: 49%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: @text-color-titles;
	background: #ffffff;
	border: 1px solid @gray;
	text-transform: uppercase;
	font-size: 12px;
	display: inline-block;
	cursor: pointer;
	border: 1px solid @gray;
	&:hover, &:focus, &:active{
		background: @main-color;
		border: 1px solid @main-color;
		color: #ffffff;
	};
}
.retail-buy{
	span{
		position: relative;
		margin-left: 18px;
		&:before{
			content: "\e90f";
			font-family: 'ecotex';
			font-size: 15px;
			display: block;
			width: 12px;
			height: 18px;
			position: absolute;
			top: -10px;
			left: -18px;
		};
	}
	&:hover{
		span{
			&:before{
				color: #ffffff;
			};
		}
	};
}
.desc-tabs{
	font-family: @font;
	padding: 0;
	margin: 40px 0 70px;
	p,li{
		font-size: 14px;
		line-height: 1.8;
		color: @text-color-titles;
	}
}
.desc-tabs-info{
	li{
		padding-left: 10px;
		position: relative;
		&:before{
			content:".";
			position: absolute;
			top: -3px;
			left: 0;
		};
	}
}

.ui-tabs .ui-tabs-panel{
	padding:0;
	margin: 20px 0;
}
.ui-widget.ui-widget-content{
	border: none;
}
.ui-tabs .ui-tabs-nav{
	margin: 0;
	padding: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 0 solid #dddddd;
    background: transparent;
    font-weight: 400;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	padding: 10px 0;
	outline: none;
	text-transform: uppercase;
	font-size: 14px;
}
.ui-tabs .ui-tabs-nav li{
	margin: 0 35px 0 0;
	padding: 0;
	border-bottom: 2px solid transparent;
	outline: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{
	border-bottom: 2px solid @main-color;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover{
	border: 0 solid #003eff;
    background: transparent;
    font-weight: normal;
    color: @text-color-titles;
    outline: none;
}
.ui-state-default a, 
.ui-state-default a:link, 
.ui-state-default a:visited, 
a.ui-button, 
a:link.ui-button, 
a:visited.ui-button, 
.ui-button{
	color: @text-color-titles;
}
.ui-state-active a, 
.ui-state-active a:link, 
.ui-state-active a:visited,
.ui-state-active a:focus,
.ui-state-active a:active{
	color: @text-color-titles;
	outline: none;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active{
	border: 0px solid #c5c5c5;
    background: transparent;
    font-weight: normal;
    color: @text-color-titles;
}

.product-info{
	margin: 70px 0;
}
.product-info-text{
	.clearfix();
	padding: 70px;
	p{
		padding-left: 30px 0 0;
	}
}

.product-gallery{
	margin: 5px 0 0;
	.slick-slide img{
		width: auto;
    	height: 100%;
    	max-height: 520px;
	}
	.slider-for{
		margin: 0 0 10px;
	}
}
.slide-product {
			display:inline-block;
			position: relative;
		}
		
		.slide-product:after {
			content: "\e911";
			font-family: "ecotex";
			color: @text-color-light;
			font-size: 20px;
			display:block; 
			width:33px; 
			height:33px; 
			position:absolute; 
			top:20px;
			right:10px;
		}
		.slide-product:before {
			content: '';
			width: 40px;
			height: 40px;
			display: block;
			background: rgba(255,255,255,0.5);
			position: absolute;
			border-radius: 50px;
			right: 13px;
			top: 10px;
		}
		.slide-product img {
			display: block;
		}

		.slide-product img::selection { background-color: transparent; }
.thumb-slide{
	height: 130px;
	margin: 5px 7px;
	img{
		height: 100%;
		width: 100% !important;
	}
}
.video-slide{
	position: relative;
	.image-cover{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		img{
		position: absolute;
	    left: 50%;
	    top: 50%;
	    display: block;
	    min-width: 100%;
	    -webkit-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);
		}
	}
	/*&:active, &:link{
		.image-cover{
			display: none;
		}
	};*/
}
.product-popup{
	background: #ffffff;
	padding: 40px;
	width: 570px;
	h4{
		letter-spacing: 1px;
		&:after{
			display:none;
		};
	}
}
.product-popup-info{
	.clearfix();
	margin-bottom: 30px;
	.col-md-6{
		padding: 0;
		&:last-child{
			padding-left: 20px;
		};
	}
}
.product-popup-info-meta{
	h3{
		line-height: 1.4;
	}
}
.product-popup-buttons{
	text-align: center;
}
.product-popup-qty,
.product-popup-cost{
	display: block;
	font-size: 16px;
	color: @text-color-light;
	margin-top: 30px;
}
/*.slick-prev, 
.slick-next{
	font-size: 0;
    color: transparent;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    width: 29px;
    height: 11px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &:after{
    	content: "\e909";
	    display: block;
	    width: 29px;
	    height: 11px;
	    font-size: 10px;
	    font-family: 'ecotex';
	    color: #ebebed;
	    position: absolute;
	    top: 50%;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
    };
}
.slick-prev{
	left: -15px;
	&:after{
		transform: rotate(180deg);
	};
}
.slick-next{
	right: -15px;
}*/
#product-collections{
	.top-sales-products{
		&:hover{
			.slick-prev, .slick-next{
				&:after{
					color: @text-color-titles;
				};
			}
		};
	}
}