@media only screen and (max-width: 1260px){
	.slick-prev{
		left: 0;
		z-index: 1000;
	}
	.slick-next{
		right: 0;
		z-index: 1000;
	}
}
@media only screen and (max-width: 1199px){
	.top-header .top-info{
		padding-left: 5px;
	}
	.top-header .top-menu{
		padding: 0 0.7%;
	}
	.top-header .top-menu .icon-menu{
		margin: 0 20%;
	}
	.top-header .sign-in{
		width: 10%;
	}
	.filters-title{
		display: block;
		margin: 10px 0;
	}
	.category-product-thumb{
		width: auto;
		height: auto;
	}
	.product-cart-title{
		max-width: 300px;
    	width: 20%;
    }
}
@media only screen and (max-width: 1150px){
	.top-header .info{
		display: none;
	}
	.top-header .top-info{
		text-align: right;
	}
	.top-header .top-callback{
		text-align: left;
	}
	.top-header .top-links{
		min-width: 252px;
	}
	.nav li a{
		font-size: 14px;
	}
	.nav li{
		padding: 0 13px;
	}
	.nav-second,
	.search .search-line{
		top: 90px;
	}

}
@media only screen and (max-width: 1050px){
	.top-header .top-info{
		text-align: right;
		width: 22%;
	}
	.top-header .top-callback{
		text-align: center;
		width: 21%;
	}
	.top-header .sign-up{
		width: 11%;
	}
	.top-header .sign-in{
		width: 13%;
	}
	.nav li{
		padding: 0 10px;
	}
	.nav li a{
		padding: 33px 0 41px;
	}
	.search{
		width: 60px;
	}
	.logo{
		width: 182px;
	}
	.search i.icon-search{
		margin: 31px 0 36px 25px;
	}
	.nav-second{
		top: 88px;
		padding: 35px 0 30px;
	}
	.search .search-line{
		top: 88px;
	}
	.submenu-items{
		li{
			padding: 0;
			a{
				padding: 0;
			}
		}
	}
	h5.submenu-title{
		font-size: 16px;
	}
	#stunning-header{
		padding: 40px 0;
		border-bottom: 1px solid @gray;
	}
	.sidebar{
		display: none;
	}
	.category-content{
		width: 100%;
	}
	.product-data{
		.col-md-7{
			width: 50%;
		}
		.col-md-5{
			width: 50%;
		}
	}
	.product-info-text{
		padding: 0;
	}
	.personal-data-col{
		width: 100%;
		float: none;
	}
	.post-thumbnail:after{
		display: none;
	}
	.post-preview{
		border-bottom: 1px solid @gray;
		&:last-child{
			border-bottom: 0;
		};
	}
	.carousel-nav{
		top: 15px;
	}
	.cart-content{
		line-height: 85px;
	}
	.product-cart-title,
	.product-cart-cost,
	.product-cart-total-cost{
    	font-size: 13px;
	}
	.product-cart-thumb{
		width: 100px !important;
	}
	.product-info{
		margin: 0 0 20px;
	}
}
@media only screen and (max-width: 899px){
	.top-header .top-links{
		min-width: 222px;
	}
	.top-header .top-links li{
		padding: 0 6px;
	}
	.top-header .top-info{
		width: 25%;
		text-align: left;
	}
	.top-header .sign-in{
		width: 15%;
	}
	.top-header .top-callback{
		text-align: left;
		width: 15%;
	}
	.search .search-line{
		box-shadow: 0 11px 17px -4px rgba(0, 0, 0, 0.13);
	}
	.top-header .top-callback a{
		margin-left: 10px;
	}
	.logo{
		width: 150px;
	}
	.search{
		width: 30px;
	}
	.search .search-line .search-form:before{
		display: none;
	}
	.search .search-line input{
		font-size: 16px;
		margin-left: 10px;
		height: auto;
		letter-spacing: 0;
	}
	.search i.icon-search {
    	margin: 23px 0 22px 13px;
	}
	.nav li{
		padding: 0 7px;
	}
	.nav li a{
		padding: 25px 0 27px;
		font-size: 13px;
	}
	.nav-second,
	.search .search-line{
		top: 65px;
	}
	.submenu-items{
		li{
			padding: 0;
			a{
				padding: 0;
			}
		}
	}
	h5.submenu-title{
		font-size: 14px;
	}
	.top-sales-item{
		margin-bottom: 30px;
	}
	.product-data{
		.col-md-7,
		.col-md-5{
			width: 100%;
		}
	}
	.product-gallery{
		margin: 15px 0;
		/*height: 70vw;*/
	}
	.product-gallery .slick-slide img{
		max-height: 70vw;
	}
	h3.product-title{
		font-size: 26px;
	}
	.size-btn{
		padding: 0 19px;
	}
	.features-row{
		margin: 0;
	}
	.lk-navigation{
		width: 100%;
	}
	.lk-nav{
		text-align: center;
	}
	.lk-nav li{
		display: inline-block;
		width: 13%;
		margin-right: 2%;
		span{
			display: none;
		}
	}
	.lk-nav-link.active:after{
		display: none;
	}
	#banner-slider .slider-title{
		font-size: 30px;
		top: 25%;
	}
	.banner-btn{
		top: 50%;
	}
	.top-header, .bottom-header{
		display: none;
	}
	header{
		padding: 10px 0 0;
	}
	.mobile-header{
		display: block;
	}
	.cart-content{
		line-height: 64px;
	}
	.seo-text{
		-webkit-column-width:auto;
		-moz-column-width: auto;
		column-width: auto;
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
		-webkit-column-rule: 0px solid transparent;
		-moz-column-rule: 0px solid transparent;
		column-rule: 0px solid transparent;
	}
	.top-links li {
   		padding: 0 20px 0 0;
	}
	.open-mobile-menu .sign-up, 
	.open-mobile-menu .sign-in{
		text-align: left;
	}
	.top-links, .top-info{
		max-width: 258px;
	}
	.slider-nav{
		display: none !important;
	}
}
@media only screen and (max-width: 767px){
	.search .search-line{
		top: 76px;
	}
	.search{
		width: 30px;
		height: 60px;
		margin: 0;
		i.icon-search{
			display: block;
			margin-left: 5px;
		}
	}
	.search .search-line input{
		font-size: 14px;
	}
	
	#home-slider{
		padding: 20px 0 0;
	}
	h1{
		font-size: 5vw;
	}
	h1.big-title{
		font-size: 8vw;
	}
	h1.single-post-header{
		font-size: 30px;
	}
	.post-content h4{
		font-size: 24px;
	}
	.slider-title{
		left: 25px;
	}
	.slick-dots{
		left: 25px;
		bottom: 10px;
	}
	h3.product-info-title{
		font-size: 28px;
		margin-top: 10px;
	}
	.product-info-text p{
		font-size: 14px;
		line-height: 1.4;
	}
	.post-thumbnail, .post-info{
		width: 100%;
		float: none;
		padding: 0;
	}
	
	.post-info{
		margin: 35px 0 0;
	}
	#banner-slider{
		padding: 10px 0;
		.slider-title{
			top: 25%;
			font-size: 22px;
		}
		.banner-btn{
			left: 25px;
			top: 50%;
			height: 30px;
			line-height: 30px;
			font-size: 12px;
		}
	}
	h4.post-title{
		font-size: 26px;
	}
	.post-content{
		padding-left: 0;
	}
	.share-buttons{
		position: relative;
		.clearfix();
		ul{
			display: block;
		}
		li{
			display: block;
			float: left;
		}
	}
	article{
		padding-top: 20px;
	}
}
@media only screen and (max-width: 700px){
	header, 
	#home-slider{
		.container{
			width: 100%;
		}
	}
	#our-features{
		padding: 60px 0 0;
	}
	.features-row{
		margin-bottom: 0;
	}
	.features-item{
		height: initial;
		margin-bottom: 40px;
	}
	.extra-link,.lk-link{
		float: none;
		&:after{
			top: -8px;
		};
	}
	.section-titles h2{
		float: none;
	}
	.testimonials-carousel{
		margin: 20px 0 0;
	}
	.testimonials-item{
		margin: 0;
	}
	.thumb-link{
		height: auto;
	}
	.dd-container{
		display: block;
		margin: 10px 0;
	}
	h4.lk-inner-title{
		display: block;
		margin-bottom: 0;
	}
	tr,td,table,tbody{
		display: block;
		width: 100% !important;
	}
	tr{
		border-bottom: 1px solid @gray;
		margin-bottom: 20px;
		&:last-child{
			border-bottom: 0;
		};
	}
	#banner-slider .slider-title{
		font-size: 18px;
	}
	.post-content img{
		width: 100%;
	}
	.table-head{
		display: none;
	}
	.product-item td{
		display: block;
		text-align: left;
		padding: 0 0 0 100px;
		/*width: 100% !important;*/
	}
	.product-cart-title{
		padding-top: 30px !important;
	}
	.product-cart-cost,
	.product-cart-quantity,
	.product-cart-total-cost,
	.product-cart-x{
		padding-top: 20px !important;
	}
	.product-cart-x{
		text-align: right !important;
	}
	.product-cart-thumb{
		position: relative;
		&:before{
			content: "Название";
			position: absolute;
			left: 0;
			color: @text-color-light;
			font-size: 13px;
		};
		img{
			width: 145px;
		}
	}
	.product-cart-cost{
		position: relative;
		&:before{
			content: "Стоимость";
			position: absolute;
			left: 0;
			color: @text-color-light;
			font-size: 13px;
		};
	}
	.product-cart-quantity{
		position: relative;
		&:before{
			content: "Количество";
			position: absolute;
			left: 0;
			color: @text-color-light;
			font-size: 13px;
			top: 34px;
		};
	}
	.product-cart-total-cost{
		position: relative;
		&:before{
			content: "Сумма";
			position: absolute;
			left: 0;
			color: @text-color-light;
			font-size: 13px;
		};
	}

	.total{
		font-size: 18px;
		text-align: center;
		margin-top: 20px;
		font-weight: normal;
	}
	.checkout-order,
	.clear-cart{
		width: 230px;
		margin-left: auto;
		margin-right: auto;
		float: none;
		display: block;
	}
	.product-popup{
		width: 300px;
		padding: 30px;
		h4{
			font-size: 18px;
			letter-spacing: 0;
		}
		h3{
			font-size: 12px;
		}
	}
	.product-popup-info-thumb{
		width: 100px;
		margin: 0 auto 20px;
	}
	.product-popup-qty, .product-popup-cost{
		display: inline-block;
		font-size: 12px;
	}
	.product-popup-qty{
		float: right;
	}
	.product-popup-buttons{
		.btn{
			font-size: 11px;
			margin-bottom: 10px;
			width: 100%;
		}
	}
	.product-gallery .slick-slide img{
		max-height: 343px;
	}
}
@media only screen and (max-width: 490px){
	.copy,
	.footer-tel{
		float: none;
		margin: 10px 0 0;
		a{
			padding: 0;
			&:last-child{
				padding-left: 20px;
			};
		}
	}
 	.slick-next{
		right: -15px;
		top: 35%;
	}
	.slick-prev{
		left: -15px;
		z-index: 1;
		top: 35%;
	}
	.testimonials-carousel .slick-next{
		right: -15px;
	}
	.testimonials-carousel .slick-prev{
		left: -15px;
	}
	.testimonials-meta{
		padding-left: 0;
	}
	.pagination-btn{
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 13px;
	}
	.all-page{
		width: auto;
	}
	.catalogue-icon-pdf, .price-list-icon-xls{
		padding-left: 30px;
	}
	.personal-data-item span{
		display: block;
	}
	.total-cart{
		width: 45px;
	}
	.cart-box{
		right: 10px;
	}
	.bulk-buy, .retail-buy{
		width: 100%;
		margin-bottom: 10px;
	}
	.product-gallery .slick-slide img{
		height: 70vw;
		width: 100%;
	}
}










