.table-head{
	text-align: left;
	font-size: 14px;
	color: @text-color-light;
	border-bottom: 1px solid @gray;
	height: 38px;
	th{
		vertical-align: middle;
	}
}
.shopping-products{
	table{
		border-bottom: 1px solid @gray;
	}
}
.product-cart-title{
	width: 300px;
	padding-left: 20px;
}
.product-cart-thumb{
	width: 145px !important;
	height: 125px !important;
}
.product-cart-title{
	line-height: 1.6;
}
.product-cart-cost{
	padding-left: 40px;
}
.product-cart-total-cost{
	text-align: right;
	padding-right: 35px;
}
.product-cart-x{
	width: 30px;
	color: @text-color-light;
	font-size: 30px;
	text-align: center;
}
.product-cart-quantity{
	padding: 0 20px;
}
.quantity{
	width: 80px;
	.input-quantity{
		width: 100%;
		height: 40px;
		text-align: center;
		border: 1px solid @gray;
		font-size: 14px;
	}
}
.checkout-buttons{
	.clearfix();
	margin-top: 40px;
}
.total{
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 3px;
	text-align: right;
	line-height: 1.2;
}
.checkout-order{
	float: right;
	margin:30px 0 50px;
}
.quantity{
	position: relative;
	.qty-minus{
		position: absolute;
	    top: 6px;
	    left: 10px;
	    font-size: 25px;
	    color: @text-color-light;
	};
	.qty-plus{
		position: absolute;
	    top: 10px;
	    right: 10px;
	    font-size: 18px;
	    color: @text-color-light;
	};
}