h1{
	font-size: 60px;
	line-height: 1.2;
	font-weight: 300;
	color: @text-color-bright;
	text-transform: uppercase;
}
h1.big-title,
h1.single-post-header{
	text-transform: none;
}
h2, h4{
	font-size: 30px;
	font-weight: 300;
	color: @text-color-titles;
	letter-spacing: 3px;
}
h3, h5{
	font-size: 18px;
	color: @text-color-bright;
}
h3.product-title{
	font-size: 36px;
	text-transform: uppercase;
	color: @text-color-bright;
	line-height: 1.3;
}
h3.product-info-title{
	font-size: 36px;
	color: @main-color;
	line-height: 1.3;
	font-weight: 300;
	letter-spacing: 3px;
}
h4.lk-inner-title,
h4.post-title{
	display: inline;
	&:after{
		display: none;
	};
}
h5.submenu-title{
	color: @text-color-bright;
}
h6,
h6 span{
	position: relative;
	z-index: 20;
	height: 35px;
	cursor: pointer;
	font-size: 18px;
	font-family: @font;
	outline: none;
}
p{
	font-size: 15px;
	color: #525252;
	line-height: 2;
	padding-bottom: 20px;
}
b{
	font-weight: 400;
}

.text-color-light{
	color: @text-color-light;
}
.features-list-item{
	color: @text-color-light;
	font-size: 15px;
	line-height: 1.3;
	padding-bottom: 12px;
}
.extra-link,
.lk-link{
	font-size: 14px;
	line-height: 40px;
	color: @main-color;
	float: right;
	padding-right: 45px;
	position: relative;
	&:after{
		content: "\e909";
		font-family: 'ecotex';
		font-size: 10px;
		display: block;
		width: 29px;
		height: 11px;
		color: @main-color;
		position: absolute;
		top: 2px;
		right: 1px;
	};
}
.lk-link{
	padding-right: 0;
	&:after{
		display: none;
	};
}
.category-links{
	text-transform: uppercase;	
}
.text-link{
	color: @main-color;
	&:hover{
		text-decoration: underline;
	};
}
.news-meta{
	font-size: 13px;
	color: @text-color-light;
	letter-spacing: 0.5px;
}
.news-title{
	font-size: 16px;
	color: @text-color-bright;
	display: block;
	margin: 10px 0 0;
}
.product-links{
	margin: 25px 0 0;
	display: block;
}
.subtitile{
	font-size: 14px;
	color: @text-color-light;
}
.btn{
	height: 40px;
	line-height: 40px;
	border-radius: 0;
	border: 1px solid @gray;
	background: #ffffff;
	font-family: @font;
	text-transform: uppercase;
	font-size: 14px;
	color: @text-color-titles;
	letter-spacing: 1px;
	padding: 0 40px;
	margin: 0;
	cursor: pointer;
	&:hover, &:active{
		background: @main-color;
		color: #ffffff;
	};
}
.banner-btn{
	position: absolute;
	top: 68%;
	left: 65px;
	background: @main-color;
	color: #ffffff;
	border: 1px solid @main-color;
	&:hover{
		background: #ffffff;
		color: @main-color;
	};
}
.more-news{
	margin: 40px auto;
	display: block;
}
.personal-data-title{
	font-size: 15px;
	color: @text-color-light;
	line-height: 1.2;
	width: 130px;
	display: inline-block;
}
.personal-data-info{
	color: @text-color-bright;
}
.personal-data-info.not-signed{
	color: #cd2f5d;
}
.personal-data-info.signed{
	color: #74a73a;
}






