@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&subset=cyrillic,cyrillic-ext');
@font-face {
  font-family: 'ecotex';
  src: url('../fonts/ecotex.eot?t0r5ys');
  src: url('../fonts/ecotex.eot?t0r5ys#iefix') format('embedded-opentype'), url('../fonts/ecotex.ttf?t0r5ys') format('truetype'), url('../fonts/ecotex.woff?t0r5ys') format('woff'), url('../fonts/ecotex.svg?t0r5ys#ecotex') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ecotex' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cart:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-logout:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e8d0";
}
.icon-play:before {
  content: "\e907";
}
.icon-play-button:before {
  content: "\e908";
}
.icon-pointer:before {
  content: "\e909";
}
.icon-fb:before {
  content: "\e90a";
}
.icon-ok:before {
  content: "\e90b";
}
.icon-vk:before {
  content: "\e90c";
}
.icon-yt:before {
  content: "\e90d";
}
.icon-arrow:before {
  content: "\e90e";
}
.icon-placeholder:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e900";
}
.icon-pdf:before {
  content: "\e901";
}
.icon-xls:before {
  content: "\e902";
}
/*-- reset --*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type=text],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: none;
}
select::-ms-expand {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
button,
input,
textarea,
select {
  outline: none;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  display: block;
}
/*-- reset END --*/
h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 300;
  color: #1f2124;
  text-transform: uppercase;
}
h1.big-title,
h1.single-post-header {
  text-transform: none;
}
h2,
h4 {
  font-size: 30px;
  font-weight: 300;
  color: #3b3b42;
  letter-spacing: 3px;
}
h3,
h5 {
  font-size: 18px;
  color: #1f2124;
}
h3.product-title {
  font-size: 36px;
  text-transform: uppercase;
  color: #1f2124;
  line-height: 1.3;
}
h3.product-info-title {
  font-size: 36px;
  color: #9a6ea1;
  line-height: 1.3;
  font-weight: 300;
  letter-spacing: 3px;
}
h4.lk-inner-title,
h4.post-title {
  display: inline;
}
h4.lk-inner-title:after,
h4.post-title:after {
  display: none;
}
h5.submenu-title {
  color: #1f2124;
}
h6,
h6 span {
  position: relative;
  z-index: 20;
  height: 35px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Roboto Condensed', Arial, Sans-serif;
  outline: none;
}
p {
  font-size: 15px;
  color: #525252;
  line-height: 2;
  padding-bottom: 20px;
}
b {
  font-weight: 400;
}
.text-color-light {
  color: #84848d;
}
.features-list-item {
  color: #84848d;
  font-size: 15px;
  line-height: 1.3;
  padding-bottom: 12px;
}
.extra-link,
.lk-link {
  font-size: 14px;
  line-height: 40px;
  color: #9a6ea1;
  float: right;
  padding-right: 45px;
  position: relative;
}
.extra-link:after,
.lk-link:after {
  content: "\e909";
  font-family: 'ecotex';
  font-size: 10px;
  display: block;
  width: 29px;
  height: 11px;
  color: #9a6ea1;
  position: absolute;
  top: 2px;
  right: 1px;
}
.lk-link {
  padding-right: 0;
}
.lk-link:after {
  display: none;
}
.category-links {
  text-transform: uppercase;
}
.text-link {
  color: #9a6ea1;
}
.text-link:hover {
  text-decoration: underline;
}
.news-meta {
  font-size: 13px;
  color: #84848d;
  letter-spacing: 0.5px;
}
.news-title {
  font-size: 16px;
  color: #1f2124;
  display: block;
  margin: 10px 0 0;
}
.product-links {
  margin: 25px 0 0;
  display: block;
}
.subtitile {
  font-size: 14px;
  color: #84848d;
}
.btn {
  height: 40px;
  line-height: 40px;
  border-radius: 0;
  border: 1px solid #ebebed;
  background: #ffffff;
  font-family: 'Roboto Condensed', Arial, Sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #3b3b42;
  letter-spacing: 1px;
  padding: 0 40px;
  margin: 0;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background: #9a6ea1;
  color: #ffffff;
}
.banner-btn {
  position: absolute;
  top: 68%;
  left: 65px;
  background: #9a6ea1;
  color: #ffffff;
  border: 1px solid #9a6ea1;
}
.banner-btn:hover {
  background: #ffffff;
  color: #9a6ea1;
}
.more-news {
  margin: 40px auto;
  display: block;
}
.personal-data-title {
  font-size: 15px;
  color: #84848d;
  line-height: 1.2;
  width: 130px;
  display: inline-block;
}
.personal-data-info {
  color: #1f2124;
}
.personal-data-info.not-signed {
  color: #cd2f5d;
}
.personal-data-info.signed {
  color: #74a73a;
}
body {
  font-family: 'Roboto Condensed', Arial, Sans-serif;
  position: relative;
}
@-moz-document url-prefix() {
  body {
    overflow-x: hidden;
  }
}
section:before,
section:after {
  content: '';
  display: table;
  clear: both;
}
a:hover {
  color: #9a6ea1;
}
.hide {
  display: none !important;
}
.show,
.open {
  display: block !important;
}
.del {
  width: 100%;
  height: 1px;
  background: #ebebed;
}
.del:before,
.del:after {
  content: '';
  display: table;
  clear: both;
}
.slider-item {
  position: relative;
}
.slider-item img {
  width: 100%;
}
.slider-title {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 65px;
}
.slick-dots {
  left: 70px;
  position: absolute;
  bottom: 70px;
}
.slick-dots li {
  display: inline-block;
  margin-right: 30px;
}
.slick-dots li button {
  font-size: 0;
  color: transparent;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #a7a7a7;
  border: 0;
  padding: 0;
  margin: 0;
}
.slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  background: #9a6ea1;
}
.features-item {
  margin-bottom: 40px;
}
.features-icon {
  width: 70px;
  margin-right: 30px;
  float: left;
}
.features-icon img {
  width: auto;
}
.features-text {
  padding-left: 100px;
}
.features-list {
  margin: 25px 0 0;
}
.section-titles {
  padding: 0 15px 25px;
}
.section-titles:before,
.section-titles:after {
  content: '';
  display: table;
  clear: both;
}
.section-titles h2 {
  float: left;
}
.top-sales-products,
.our-products-item {
  margin: 20px 0;
}
.top-sales-products:before,
.our-products-item:before,
.top-sales-products:after,
.our-products-item:after {
  content: '';
  display: table;
  clear: both;
}
.thumb-link {
  margin-bottom: 25px;
  display: block;
  height: 330px;
}
.thumb-link img {
  height: 100%;
}
.news-meta {
  display: block;
}
.news-item {
  margin: 20px 0;
}
.news-thumb {
  height: auto;
}
.seo-text {
  margin-top: 35px;
  -webkit-column-width: 400px;
  -moz-column-width: 400px;
  column-width: 400px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 40px;
  -webkit-column-rule: 1px solid transparent;
  -moz-column-rule: 1px solid transparent;
  column-rule: 1px solid transparent;
}
.seo-text p {
  break-inside: avoid;
}
.testimonials-carousel {
  margin: 20px 50px 0;
}
.testimonials-carousel:before,
.testimonials-carousel:after {
  content: '';
  display: table;
  clear: both;
}
.testimonials-carousel:hover .slick-prev:after,
.testimonials-carousel:hover .slick-next:after {
  color: #1f2124;
}
.testimonials-item {
  width: 330px;
  float: left;
  margin: 0 12px;
}
.testimonials-item span {
  vertical-align: middle;
}
.testimonials-text {
  padding: 45px 30px;
  background: #ffffff;
  margin: 0 0 30px;
  color: #5b5b70;
  font-size: 15px;
  line-height: 1.6;
  position: relative;
}
.testimonials-text:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 11px solid #ffffff;
  border-left: 11px solid transparent;
  position: absolute;
  bottom: -11px;
  left: 18px;
}
.testimonials-name {
  display: block;
  font-size: 16px;
  color: #1f2124;
}
.testimonials-job {
  display: block;
  color: #84848d;
  font-size: 13px;
  margin: 5px 0 0;
}
.testimonials-meta {
  float: left;
  padding-left: 30px;
}
.testimonials-logo {
  float: right;
  padding-right: 30px;
}
#our-features {
  padding: 85px 0 0;
}
#our-features-product {
  padding: 75px 0 25px;
}
#our-features-product .features-row {
  margin-top: 45px;
}
#top-sales,
#our-products,
#testimonials,
#company-news,
#product-collections {
  padding: 75px 0 60px;
}
#testimonials {
  background: #fafafa;
}
#about-company,
#about-category {
  padding: 75px 0 40px;
}
#about-company .section-titles,
#about-category .section-titles {
  padding: 0 0 25px;
}
.category-product-thumb {
  display: block;
  width: 284px;
  height: 254px;
}
.slick-prev,
.slick-next {
  font-size: 0;
  color: transparent;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  width: 29px;
  height: 11px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slick-prev:after,
.slick-next:after {
  content: "\e909";
  display: block;
  width: 29px;
  height: 11px;
  font-size: 10px;
  font-family: 'ecotex';
  color: #ebebed;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.slick-prev {
  left: -30px;
}
.slick-prev:after {
  transform: rotate(180deg);
}
.slick-next {
  right: -30px;
}
h4 {
  margin: 10px 0 35px;
  position: relative;
}
h4:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #ebebed;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.side-category-bar {
  padding-right: 60px;
}
.side-category-bar h6.ui-accordion-header {
  margin: 0;
  padding: 0;
}
.side-category-bar h6.ui-accordion-header span {
  position: relative;
}
.side-category-bar h6.ui-accordion-header span:after {
  content: "\e90e";
  font-family: 'ecotex';
  display: block;
  position: absolute;
  top: 11px;
  right: -25px;
  font-size: 4px;
}
.side-category-bar h6.ui-state-active span:after {
  transform: rotate(180deg);
  top: 10px;
}
.side-category-bar .ui-accordion-content-active {
  display: block !important;
}
.side-category-bar .ui-icon {
  display: none;
}
.side-category-bar .category-block {
  padding: 0;
  margin: 0;
}
.side-category-bar .category-widget ul {
  position: relative;
  z-index: 10;
  margin: 0 0 35px 0;
}
.side-category-bar .category-widget ul li {
  color: #84848d;
  font-size: 14px;
  line-height: 2.6;
}
.category-widget-title:after {
  content: "\e90e";
  font-size: 6px;
  font-family: 'ecotex';
  right: 0px;
  top: 10px;
  position: absolute;
}
.category-widget-title.on:after {
  transform: rotate(180deg);
}
#stunning-header {
  background: url(../../assets/img/bg-header.jpg) no-repeat center center;
  background-size: cover;
  padding: 70px 0 95px;
}
.breadcrumbs {
  margin: 10px 0;
}
.breadcrumbs-link {
  display: inline-block;
  font-size: 14px;
  color: #84848d;
  position: relative;
  padding-right: 20px;
}
.breadcrumbs-link:after {
  content: "\e90e";
  font-family: 'ecotex';
  font-size: 5px;
  display: block;
  width: 8px;
  height: 10px;
  background-size: contain;
  transform: rotate(270deg);
  position: absolute;
  top: 3px;
  right: 4px;
}
.breadcrumbs-link:last-child:after {
  display: none;
}
.page-title h1 {
  text-transform: none;
  margin: 10px 0;
}
#category {
  margin: 0 0 65px;
}
.collections-widget {
  margin-top: 65px;
}
.collections-widget ul li {
  font-size: 18px;
  line-height: 2;
}
.filters-title {
  font-size: 14px;
  color: #84848d;
  padding-right: 25px;
  vertical-align: middle;
}
select.filter {
  padding: 10px;
  border: 1px solid #ebebed;
  border-radius: 0;
  background: #ffffff;
  font-size: 14px;
  width: 164px;
}
select#sort-by-filter {
  width: 156px;
}
option {
  font-size: 14px;
  font-family: 'Roboto Condensed', Arial, Sans-serif;
}
option:hover {
  color: #9a6ea1;
}
.category-filters {
  margin: 11px 0;
  position: relative;
  z-index: 900;
}
.category-filters:before,
.category-filters:after {
  content: '';
  display: table;
  clear: both;
}
.dd-container {
  display: inline-block;
  vertical-align: middle;
}
.dd-select {
  border-radius: 0 !important;
  border: 1px solid #ebebed !important;
  font-size: 14px;
  padding: 2px 0;
  z-index: 2001;
}
.dd-select .dd-pointer-up {
  border: none !important;
  margin-top: -3px !important;
}
.dd-selected {
  font-size: 14px;
}
.dd-selected:hover {
  text-decoration: none;
}
.dd-options {
  box-shadow: none !important;
  border: 1px solid #ebebed !important;
  z-index: 2002 !important;
}
.dd-option {
  font-size: 14px;
  font-family: 'Roboto Condensed', Arial, Sans-serif;
  border: none !important;
  color: #84848d !important;
}
.dd-option:hover {
  color: #9a6ea1 !important;
  text-decoration: none;
  background: #ffffff !important;
}
.dd-pointer-down {
  position: relative;
  border: none !important;
}
.dd-pointer-down:before {
  content: "\e90e";
  font-size: 6px;
  font-family: 'ecotex';
  right: 0;
  position: absolute;
}
.dd-pointer-up {
  border: solid 5px transparent !important;
  border-bottom: solid 5px transparent !important;
}
.dd-pointer-up {
  position: relative;
  border: none !important;
}
.dd-pointer-up:before {
  content: "\e90e";
  font-size: 6px;
  font-family: 'ecotex';
  right: 0;
  position: absolute;
  transform: rotate(180deg);
}
.category-product-item {
  margin: 20px 0 30px;
  position: relative;
}
.pagination {
  margin: 20px 0;
  text-align: center;
}
.pagination-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border: 1px solid #ebebed;
  color: #3b3b42;
  text-decoration: none;
  position: relative;
}
.pagination-btn:hover {
  text-decoration: none;
  background: #9a6ea1;
  border: 1px solid #9a6ea1;
  color: #ffffff;
}
.current-page {
  background: #9a6ea1;
  border: 1px solid #9a6ea1;
  color: #ffffff;
}
.current-page:hover {
  color: #ffffff;
}
.prev-page,
.next-page {
  transform: rotate(90deg);
}
.prev-page:after,
.next-page:after {
  content: "\e90e";
  font-family: 'ecotex';
  font-size: 6px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prev-page:hover:after,
.next-page:hover:after {
  color: #ffffff;
}
.next-page {
  transform: rotate(270deg);
}
.all-page {
  padding: 0 15px;
  width: auto;
}
.label {
  position: absolute;
  top: 15px;
  left: 30px;
}
.label li {
  display: inline-block;
  width: 37px;
  height: 37px;
  padding: 10px 0 0;
  border-radius: 50%;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  margin-right: -8px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.label .hot {
  background: #ffab0a;
}
.label .sale {
  background: #cd2f5d;
}
.label .new {
  background: #74a73a;
}
#inner-header {
  margin: 15px 0 10px;
}
.category-collections {
  margin: 10px 0;
}
.category-collections:before,
.category-collections:after {
  content: '';
  display: table;
  clear: both;
}
.size {
  margin: 30px 0;
}
.size:before,
.size:after {
  content: '';
  display: table;
  clear: both;
}
.size-btn {
  height: 40px;
  border: 1px solid #ebebed;
  color: #3b3b42;
  background: #ffffff;
  font-size: 14px;
  padding: 0 20px;
  margin: 10px 5px 0px 0;
}
.size-btn:hover,
.size-btn:focus,
.size-btn:active {
  color: #9a6ea1;
  border: 1px solid #9a6ea1;
}
.bulk-buy,
.retail-buy {
  width: 49%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #3b3b42;
  background: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ebebed;
}
.bulk-buy:hover,
.retail-buy:hover,
.bulk-buy:focus,
.retail-buy:focus,
.bulk-buy:active,
.retail-buy:active {
  background: #9a6ea1;
  border: 1px solid #9a6ea1;
  color: #ffffff;
}
.retail-buy span {
  position: relative;
  margin-left: 18px;
}
.retail-buy span:before {
  content: "\e90f";
  font-family: 'ecotex';
  font-size: 15px;
  display: block;
  width: 12px;
  height: 18px;
  position: absolute;
  top: -10px;
  left: -18px;
}
.retail-buy:hover span:before {
  color: #ffffff;
}
.desc-tabs {
  font-family: 'Roboto Condensed', Arial, Sans-serif;
  padding: 0;
  margin: 40px 0 70px;
}
.desc-tabs p,
.desc-tabs li {
  font-size: 14px;
  line-height: 1.8;
  color: #3b3b42;
}
.desc-tabs-info li {
  padding-left: 10px;
  position: relative;
}
.desc-tabs-info li:before {
  content: ".";
  position: absolute;
  top: -3px;
  left: 0;
}
.ui-tabs .ui-tabs-panel {
  padding: 0;
  margin: 20px 0;
}
.ui-widget.ui-widget-content {
  border: none;
}
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 0 solid #dddddd;
  background: transparent;
  font-weight: 400;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 10px 0;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
}
.ui-tabs .ui-tabs-nav li {
  margin: 0 35px 0 0;
  padding: 0;
  border-bottom: 2px solid transparent;
  outline: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  border-bottom: 2px solid #9a6ea1;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 0 solid #003eff;
  background: transparent;
  font-weight: normal;
  color: #3b3b42;
  outline: none;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
  color: #3b3b42;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited,
.ui-state-active a:focus,
.ui-state-active a:active {
  color: #3b3b42;
  outline: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 0px solid #c5c5c5;
  background: transparent;
  font-weight: normal;
  color: #3b3b42;
}
.product-info {
  margin: 70px 0;
}
.product-info-text {
  padding: 70px;
}
.product-info-text:before,
.product-info-text:after {
  content: '';
  display: table;
  clear: both;
}
.product-info-text p {
  padding-left: 30px 0 0;
}
.product-gallery {
  margin: 5px 0 0;
}
.product-gallery .slick-slide img {
  width: auto;
  height: 100%;
  max-height: 520px;
}
.product-gallery .slider-for {
  margin: 0 0 10px;
}
.slide-product {
  display: inline-block;
  position: relative;
}
.slide-product:after {
  content: "\e911";
  font-family: "ecotex";
  color: #84848d;
  font-size: 20px;
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 20px;
  right: 10px;
}
.slide-product:before {
  content: '';
  width: 40px;
  height: 40px;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  border-radius: 50px;
  right: 13px;
  top: 10px;
}
.slide-product img {
  display: block;
}
.slide-product img::selection {
  background-color: transparent;
}
.thumb-slide {
  height: 130px;
  margin: 5px 7px;
}
.thumb-slide img {
  height: 100%;
  width: 100% !important;
}
.video-slide {
  position: relative;
  /*&:active, &:link{
		.image-cover{
			display: none;
		}
	};*/
}
.video-slide .image-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.video-slide .image-cover img {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  min-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.product-popup {
  background: #ffffff;
  padding: 40px;
  width: 570px;
}
.product-popup h4 {
  letter-spacing: 1px;
}
.product-popup h4:after {
  display: none;
}
.product-popup-info {
  margin-bottom: 30px;
}
.product-popup-info:before,
.product-popup-info:after {
  content: '';
  display: table;
  clear: both;
}
.product-popup-info .col-md-6 {
  padding: 0;
}
.product-popup-info .col-md-6:last-child {
  padding-left: 20px;
}
.product-popup-info-meta h3 {
  line-height: 1.4;
}
.product-popup-buttons {
  text-align: center;
}
.product-popup-qty,
.product-popup-cost {
  display: block;
  font-size: 16px;
  color: #84848d;
  margin-top: 30px;
}
/*.slick-prev, 
.slick-next{
	font-size: 0;
    color: transparent;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    width: 29px;
    height: 11px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &:after{
    	content: "\e909";
	    display: block;
	    width: 29px;
	    height: 11px;
	    font-size: 10px;
	    font-family: 'ecotex';
	    color: #ebebed;
	    position: absolute;
	    top: 50%;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
    };
}
.slick-prev{
	left: -15px;
	&:after{
		transform: rotate(180deg);
	};
}
.slick-next{
	right: -15px;
}*/
#product-collections .top-sales-products:hover .slick-prev:after,
#product-collections .top-sales-products:hover .slick-next:after {
  color: #3b3b42;
}
.personal-data,
.last-orders,
.useful,
.catalogue {
  padding: 40px 0 40px;
}
.personal-data:before,
.last-orders:before,
.useful:before,
.catalogue:before,
.personal-data:after,
.last-orders:after,
.useful:after,
.catalogue:after {
  content: '';
  display: table;
  clear: both;
}
.catalogue {
  padding-bottom: 80px;
}
.personal-data {
  padding-top: 22px;
}
.lk-titles {
  margin: 10px 0 30px;
}
.personal-data-col {
  width: 50%;
  float: left;
}
.personal-data-item {
  margin: 20px 0;
}
table {
  width: 100%;
}
td {
  vertical-align: middle;
  padding: 10px 0;
}
.last-order-meta {
  display: block;
  font-size: 13px;
  color: #84848d;
  margin: 5px 0;
}
.last-orders-date,
.last-orders-amount,
.canceled,
.useful-date,
.catalogue-date {
  color: #84848d;
}
.last-orders-titles,
.useful-date,
.catalogue-date {
  width: 21%;
}
.last-orders-date {
  width: 16%;
}
.last-orders-amount {
  width: 15%;
}
.last-orders-more,
.useful-more,
.catalogue-more {
  width: 18%;
}
.lk-nav {
  display: block;
  margin-top: 20px;
}
.lk-nav:before,
.lk-nav:after {
  content: '';
  display: table;
  clear: both;
}
.lk-nav li {
  line-height: 3.6;
}
.lk-nav-link {
  position: relative;
  padding: 20px 0 20px 50px;
}
.lk-nav-link:before {
  font-family: 'ecotex';
  display: inline-block;
  position: absolute;
  left: 0;
  top: -10px;
  font-size: 22px;
  opacity: 0.5;
}
.lk-nav-link:after {
  content: "\e909";
  font-family: 'ecotex';
  font-size: 10px;
  color: #9a6ea1;
  position: relative;
  right: -10px;
  display: none;
}
.lk-nav-link:hover:before {
  opacity: 1;
}
.lk-nav-link.active {
  color: #9a6ea1;
}
.lk-nav-link.active:before {
  opacity: 1;
}
.lk-nav-link.active:after {
  display: inline-block;
}
.lk-nav-my-akk {
  position: relative;
}
.lk-nav-my-akk:before {
  content: "\e904";
  font-size: 25px;
  top: -15px;
}
.lk-nav-personal-data:before {
  content: "\e8d0";
  font-size: 24px;
  top: -12px;
}
.lk-nav-my-orders:before {
  content: "\e903";
  font-size: 23px;
}
.lk-nav-mailing:before {
  content: "\e900";
}
.lk-nav-logout:before {
  content: "\e905";
}
.download-contract {
  color: #9a6ea1;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  padding-left: 20px;
  right: -30px;
}
.download-contract:before {
  content: "\e901";
  font-family: 'ecotex';
  opacity: 0.5;
  font-size: 26px;
  position: absolute;
  top: -6px;
  left: -15px;
}
.download-contract:hover:before {
  opacity: 1;
}
.catalogue-icon-pdf,
.price-list-icon-xls {
  padding-left: 45px;
  position: relative;
  display: block;
}
.catalogue-icon-pdf:before,
.price-list-icon-xls:before {
  content: "\e901";
  font-family: 'ecotex';
  opacity: 0.5;
  font-size: 26px;
  position: absolute;
  top: -5px;
  left: 0;
}
.price-list-icon-xls:before {
  content: "\e902";
}
.table-head {
  text-align: left;
  font-size: 14px;
  color: #84848d;
  border-bottom: 1px solid #ebebed;
  height: 38px;
}
.table-head th {
  vertical-align: middle;
}
.shopping-products table {
  border-bottom: 1px solid #ebebed;
}
.product-cart-title {
  width: 300px;
  padding-left: 20px;
}
.product-cart-thumb {
  width: 145px !important;
  height: 125px !important;
}
.product-cart-title {
  line-height: 1.6;
}
.product-cart-cost {
  padding-left: 40px;
}
.product-cart-total-cost {
  text-align: right;
  padding-right: 35px;
}
.product-cart-x {
  width: 30px;
  color: #84848d;
  font-size: 30px;
  text-align: center;
}
.product-cart-quantity {
  padding: 0 20px;
}
.quantity {
  width: 80px;
}
.quantity .input-quantity {
  width: 100%;
  height: 40px;
  text-align: center;
  border: 1px solid #ebebed;
  font-size: 14px;
}
.checkout-buttons {
  margin-top: 40px;
}
.checkout-buttons:before,
.checkout-buttons:after {
  content: '';
  display: table;
  clear: both;
}
.total {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: right;
  line-height: 1.2;
}
.checkout-order {
  float: right;
  margin: 30px 0 50px;
}
.quantity {
  position: relative;
}
.quantity .qty-minus {
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 25px;
  color: #84848d;
}
.quantity .qty-plus {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #84848d;
}
#banner-slider {
  padding: 20px 0 30px;
}
#all-posts {
  padding: 0 0 30px;
}
.post-preview {
  padding: 40px 0;
}
.post-preview:before,
.post-preview:after {
  content: '';
  display: table;
  clear: both;
}
.post-thumbnail,
.post-info {
  width: 48%;
  float: left;
}
.post-thumbnail {
  padding-right: 30px;
  position: relative;
}
.post-thumbnail:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #ebebed;
  position: absolute;
  right: -100%;
  bottom: 0;
}
.post-thumbnail img {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.post-info {
  padding-left: 30px;
}
h4.post-title {
  margin: 0 0 20px;
  display: block;
  line-height: 1.15;
}
.post-excerpt {
  padding: 20px 0 45px;
}
.post-content {
  width: 100%;
  margin-bottom: 30px;
  padding-left: 100px;
  position: relative;
}
.post-content h4 {
  margin: 70px 0 35px;
}
.post-content h4:after {
  display: none;
}
.post-content img {
  margin: 20px 0;
  display: block;
  width: auto;
}
.post-content p {
  line-height: 2.4;
}
#post-image,
#post-content {
  padding: 20px 0;
}
.share-buttons {
  position: absolute;
  top: 0;
  left: 0;
}
.share-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #ebebed;
  display: block;
  margin-bottom: 5px;
  margin-right: 5px;
}
.share-icon i {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.share-vk {
  font-size: 9px;
}
.share-vk:hover,
.share-vk:active {
  background: #45668e;
  border: 1px solid #45668e;
  color: #ffffff;
}
.share-fb {
  font-size: 12px;
}
.share-fb:hover,
.share-fb:active {
  background: #3b5998;
  border: 1px solid #3b5998;
  color: #ffffff;
}
.share-ok {
  font-size: 14px;
}
.share-ok:hover,
.share-ok:active {
  background: #F6881F;
  border: 1px solid #F6881F;
  color: #ffffff;
}
.share-yt {
  font-size: 13px;
}
.share-yt:hover,
.share-yt:active {
  background: #bb0000;
  border: 1px solid #bb0000;
  color: #ffffff;
}
header {
  background: #ffffff;
  color: #1f2124;
}
header:before,
header:after {
  content: '';
  display: table;
  clear: both;
}
header a,
header span {
  font-size: 12px;
}
.sticky,
.sticking {
  width: 100%;
  z-index: 100000;
}
.sticking {
  border-bottom: 1px solid #ebebed;
}
@media (max-width: 899px) {
  .top-header.sticky.stick-me.sticking {
    display: none !important;
  }
}
.top-header {
  width: 100%;
  /*min-width: 1270px;*/
  height: 41px;
  line-height: 40px;
  margin: 0 auto;
  background: #fafafa;
  border-bottom: 1px solid #ebebed;
}
.top-header:before,
.top-header:after {
  content: '';
  display: table;
  clear: both;
}
.top-menu {
  width: 5%;
  max-width: 60px;
  float: left;
  border-right: 1px solid #ebebed;
  padding: 0 10px;
}
.top-menu .icon-menu {
  width: 20px;
  height: 40px;
  margin: 0 10px 0;
  background: transparent;
  cursor: pointer;
}
.top-menu .icon-menu .hamburger-icon {
  display: block;
  width: 20px;
  height: 2px;
  background: #5b5b70;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-menu .icon-menu .hamburger-icon:before,
.top-menu .icon-menu .hamburger-icon:after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #5b5b70;
  position: absolute;
}
.top-menu .icon-menu .hamburger-icon:before {
  margin-top: -6px;
}
.top-menu .icon-menu .hamburger-icon:after {
  margin-top: 6px;
}
.top-links {
  width: 23%;
  float: left;
  border-right: 1px solid #ebebed;
  text-align: center;
}
.top-links li {
  display: inline-block;
  padding: 0 12px;
}
.top-links a {
  font-size: 13px;
}
.top-info {
  width: 27%;
  float: left;
  padding-left: 15px;
}
.top-info .tel {
  display: inline-block;
  padding-left: 5px;
}
.top-info .callback {
  display: inline-block;
}
.top-callback {
  width: 25%;
  float: right;
  text-align: center;
  border-right: 1px solid #ebebed;
}
.top-callback a {
  text-transform: uppercase;
  margin-left: 15px;
}
.info {
  padding-left: 15px;
}
.sign-in {
  width: 11%;
  float: right;
  text-align: center;
  border-right: 1px solid #ebebed;
}
.sign-in a {
  font-size: 13px;
}
.sign-up {
  width: 9%;
  float: right;
  text-align: center;
}
.sign-up a {
  font-size: 13px;
}
.bottom-header {
  margin: 10px auto 0;
  position: relative;
}
.logo {
  width: 225px;
  float: left;
}
.logo img {
  width: 100%;
}
.nav-fluid {
  margin-left: 310px;
  margin-right: 160px;
  padding: 0 20px;
  height: inherit;
}
.nav {
  width: 100%;
  height: inherit;
  z-index: 990;
  display: inline-block;
  position: relative;
  min-width: 100%;
  margin: 0 auto;
}
.nav .nav-primary {
  width: 20000em;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 15;
  list-style: none;
  text-align: center;
}
.nav .nav-primary:before,
.nav .nav-primary:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav li {
  display: inline-block;
  padding: 0 7px;
  text-align: center;
  float: left;
  list-style: none;
  margin: 0;
  position: relative;
}
.nav li a {
  font-size: 14px;
  display: inline-block;
  padding: 38px 5px;
  text-transform: uppercase;
}
.carousel-nav {
  display: block;
  position: absolute;
  z-index: 9999;
  height: 40px;
  top: 21px;
  font-size: 10px;
  color: #1f2124;
  -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
}
.carousel-nav:hover {
  color: #9a6ea1;
}
.carousel-nav.prev {
  left: 0;
  margin-left: -35px;
}
.carousel-nav.prev:before {
  transform: rotate(90deg) translateY(-50%);
  display: block;
  top: 50%;
  position: relative;
}
.carousel-nav.next {
  right: 0;
  margin-right: -35px;
}
.carousel-nav.next:before {
  transform: rotate(270deg) translateY(-50%);
  display: block;
  top: 50%;
  position: relative;
}
.nav-first {
  /*position: relative;*/
}
.nav-first:hover a.nav-first-link {
  position: relative;
}
.nav-first:hover a.nav-first-link:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #9a6ea1;
  position: absolute;
  bottom: 20px;
  left: 0;
}
.nav-first.active:hover a.nav-first-link {
  position: relative;
}
.nav-first.active:hover a.nav-first-link:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #9a6ea1;
  position: absolute;
  bottom: 20px;
  left: 0;
}
.nav-first.active:hover .hover-menu {
  display: block;
}
.search {
  float: right;
  width: 80px;
}
.search i.icon-search {
  font-weight: 700;
  margin: 36px 0 36px 45px;
  display: block;
  cursor: pointer;
}
.search i.icon-search.open {
  color: #9a6ea1;
}
.search .search-line {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 92px;
  z-index: 799;
  background: #fafafa;
  border-top: 1px solid #ebebed;
  border-bottom: 1px solid #ebebed;
  padding: 10px 0;
}
.search .search-line .search-form {
  position: relative;
}
.search .search-line .search-form:before {
  content: "\e911";
  font-family: 'ecotex';
  width: 30px;
  height: 30px;
  font-size: 30px;
  position: absolute;
  left: 10px;
  top: 20px;
  font-weight: 700;
  color: #1f2124;
  backface-visibility: hidden;
}
.search .search-line input {
  height: 70px;
  width: 100%;
  background: #fafafa;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 300;
  margin-left: 80px;
  backface-visibility: hidden;
  font-family: 'Roboto Condensed', Arial, Sans-serif;
}
.nav-second {
  background: #fafafa;
  border: 2px solid #ebebed;
  border-bottom: 1px solid #ebebed;
  padding: 55px 50px 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85px;
  max-width: 690px;
  z-index: 1000;
  display: none;
}
.nav-second .inner-menus:before,
.nav-second .inner-menus:after {
  content: '';
  display: table;
  clear: both;
}
.nav-second:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 10px solid #ebebed;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.nav-second .submenu {
  display: inline-block;
  margin-right: 50px;
  text-align: left;
}
.nav-second .submenu-items {
  margin: 20px 0 0;
}
.nav-second .submenu-items li {
  padding: 0;
  display: block;
  float: none;
  text-align: left;
}
.nav-second .submenu-items li a {
  font-size: 14px;
  color: #84848d;
  line-height: 2.6;
  padding: 0;
  text-transform: none;
}
.mobile-header {
  display: none;
}
.mobile-header .mobile-menu {
  width: 30px;
  float: right;
}
.mobile-header .mobile-menu .hamb-menu-wrap {
  width: 20px;
  height: 60px;
  background: transparent;
  cursor: pointer;
  float: right;
}
.mobile-header .mobile-menu .hamb-menu-wrap .hamburger-icon {
  width: 20px;
  height: 2px;
  background: #1f2124;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-header .mobile-menu .hamb-menu-wrap .hamburger-icon:before,
.mobile-header .mobile-menu .hamb-menu-wrap .hamburger-icon:after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #1f2124;
  position: absolute;
}
.mobile-header .mobile-menu .hamb-menu-wrap .hamburger-icon:before {
  margin-top: -5px;
}
.mobile-header .mobile-menu .hamb-menu-wrap .hamburger-icon:after {
  margin-top: 5px;
}
.mobile-header .mobile-menu .hamb-menu-wrap.open {
  background: #ffffff;
}
.mobile-header .mobile-menu .hamb-menu-wrap.open .hamburger-icon {
  background: #9a6ea1;
}
.mobile-header .mobile-menu .hamb-menu-wrap.open .hamburger-icon:before,
.mobile-header .mobile-menu .hamb-menu-wrap.open .hamburger-icon:after {
  background: #9a6ea1;
}
.mobile-header .mobile-menu .open-mobile-menu {
  width: 100%;
  position: absolute;
  background: #fafafa;
  border: 1px solid #ebebed;
  top: 76px;
  z-index: 700;
  right: 0;
  padding: 30px 30px 0;
}
.mobile-header .mobile-menu .open-mobile-menu .mobile-menu-item {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #c5c5c5;
  /*.background(0.3s);*/
}
.mobile-header .mobile-menu .open-mobile-menu .mobile-menu-item:last-child {
  border-bottom: 0;
}
.mobile-header .mobile-menu .open-mobile-menu .mobile-menu-item:hover,
.mobile-header .mobile-menu .open-mobile-menu .mobile-menu-item:active {
  background: #f7f7f7;
}
.mobile-header .mobile-menu .open-mobile-menu .anchor-link {
  background: #111525;
  color: #fff;
  /*.background(0.3s);*/
}
.mobile-header .mobile-menu .open-mobile-menu .anchor-link:hover,
.mobile-header .mobile-menu .open-mobile-menu .anchor-link:active {
  background: #1c2031;
}
.mobile-header .mobile-menu .open-mobile-menu .anchor-link:hover a,
.mobile-header .mobile-menu .open-mobile-menu .anchor-link:active a {
  /*color: @site-light-color;*/
}
.open-mobile-menu .nav-second {
  display: none;
}
.open-mobile-menu .nav {
  float: none;
  margin-bottom: 10px;
}
.open-mobile-menu .nav li {
  padding: 0;
  float: none;
  text-align: left;
}
.open-mobile-menu .nav li a {
  padding: 10px 0;
  font-size: 16px;
}
.open-mobile-menu .nav-first-mobile:after {
  content: "\e90e";
  font-size: 6px;
  font-family: 'ecotex';
  right: 0px;
  top: 10px;
  position: absolute;
}
.open-mobile-menu .nav-first-mobile.on:after {
  transform: rotate(180deg);
}
.open-mobile-menu .mobile-submenu-items li {
  display: block;
}
.open-mobile-menu .mobile-submenu-items li a {
  font-weight: 300;
  text-transform: none;
  padding-left: 10px;
}
.open-mobile-menu .nav-first {
  display: block;
}
.open-mobile-menu .top-links,
.open-mobile-menu .top-info,
.open-mobile-menu .callback-mobile-menu {
  width: 100%;
  float: none;
  text-align: left;
  padding: 15px 0;
  border-right: 0;
}
.open-mobile-menu .top-links:before,
.open-mobile-menu .top-info:before,
.open-mobile-menu .callback-mobile-menu:before,
.open-mobile-menu .top-links:after,
.open-mobile-menu .top-info:after,
.open-mobile-menu .callback-mobile-menu:after {
  content: '';
  display: table;
  clear: both;
}
.open-mobile-menu .top-info {
  border-bottom: 1px solid #ebebed;
}
.open-mobile-menu .callback-mobile-menu {
  display: none;
}
.open-mobile-menu .top-info .tel,
.open-mobile-menu .callback-mobile-menu a {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 10px 0 0;
}
.open-mobile-menu .top-links,
.open-mobile-menu .callback-mobile-menu {
  border-bottom: 1px solid #ebebed;
}
.open-mobile-menu .sign-up,
.open-mobile-menu .sign-in {
  width: 50%;
  border-right: 0;
  padding: 20px 0;
}
.open-mobile-menu .sign-up a,
.open-mobile-menu .sign-in a {
  font-size: 16px;
}
.open-mobile-menu .info {
  display: block;
  padding: 0;
}
.callback-mobile-header {
  width: 30px;
  height: 60px;
  float: right;
}
.callback-mobile-header i.icon-phone {
  font-size: 18px;
  margin: 22px 0 0;
  display: block;
}
.cart-content {
  height: 100%;
  line-height: 92px;
  display: inline-block;
  position: relative;
}
.cart-content:hover .cart-item {
  opacity: 1;
}
.total-cart {
  width: 80px;
  float: right;
  text-align: center;
}
.cart-item {
  font-size: 28px;
  text-align: center;
  vertical-align: middle;
  opacity: 0.5;
  color: #1f2124;
}
.cart-details {
  position: absolute;
  width: auto;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 20px;
  background: #9a6ea1;
  color: #ffffff;
  top: 28px;
  right: -10px;
  text-align: center;
}
.cart-box {
  display: none;
  width: 300px;
  position: absolute;
  background: #ffffff;
  border: 2px solid #ebebed;
  padding: 20px ;
  right: 40px;
  top: 70px;
  z-index: 800;
}
.shoping-cart-content {
  font-size: 14px;
}
.shopping-buttons {
  padding: 20px 0 0;
}
.shopping-buttons:before,
.shopping-buttons:after {
  content: '';
  display: table;
  clear: both;
}
.shopping-buttons .btn {
  width: 100%;
  margin-bottom: 5px;
}
.cart-box.active {
  display: block;
}
.reg-links {
  max-width: 258px;
}
.reg-links:before,
.reg-links:after {
  content: '';
  display: table;
  clear: both;
}
#callbackPopupMobileHeader {
  width: 300px;
  padding: 30px 20px 20px;
}
#callbackPopupMobileHeader h4 {
  font-size: 22px;
  font-weight: 400;
}
#callbackPopupMobileHeader h4:after {
  display: none;
}
.mobile-header {
  background: #ffffff;
}
.form-fields {
  margin-bottom: 10px;
}
.form-fields:before,
.form-fields:after {
  content: '';
  display: table;
  clear: both;
}
.form-fields label {
  display: block;
}
.form-fields input {
  display: block;
  border: 1px solid #ebebed;
  width: 100%;
  height: 40px;
}
.form-fields .country-code {
  width: 30%;
  float: left;
  margin-right: 1%;
}
.form-fields .phone-numb {
  width: 69%;
}
.send-form {
  background: #9a6ea1;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0px 20px;
  height: 40px;
  line-height: 40px;
  border: 0;
  margin: 30px auto;
  display: block;
}
.send-form:before,
.send-form:after {
  content: '';
  display: table;
  clear: both;
}
.x-form-button {
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 32px;
  color: #cdcdcd;
  position: absolute;
  right: 10px;
  top: 10px;
}
.callback-popup {
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  padding: 40px 80px;
}
.callback-popup h4 {
  letter-spacing: 0;
  text-align: center;
}
.modal-box {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7) !important;
}
a.close {
  line-height: 30px;
  font-size: 37px;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: #b6b6b6;
  background: #ffffff;
}
.ie-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0.85;
  z-index: 100000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
}
.ie-notification {
  display: none;
  position: fixed;
  background: #ffffff;
  z-index: 100001;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  margin-top: -230px;
  width: 620px;
  text-align: center;
  padding: 40px;
}
.ie-notification .btn {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  background: #9a6ea1;
  width: 180px;
  padding: 15px 20px;
  font-size: 16px;
  margin: 20px auto;
}
.ie-notification small a {
  color: #9a6ea1;
}
#top-bar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 100px 0;
  background: #fafafa;
}
footer {
  background: #fafafa;
  border-top: 1px solid #ebebed;
}
.footer-menus:before,
.subfooter:before,
.footer-menus:after,
.subfooter:after {
  content: '';
  display: table;
  clear: both;
}
.footer-menus {
  margin: 80px -15px 0;
}
.footer-menu {
  margin: 15px 0 65px;
}
.footer-menu-item {
  line-height: 36px;
}
.footer-menu-item a {
  font-size: 14px;
  color: #84848d;
}
.footer-social-item {
  display: inline-block;
  margin-right: 8px;
}
.social-link {
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
  background: #e3e3e3;
  position: relative;
}
.social-link:after {
  content: " ";
  font-family: 'ecotex';
  display: block;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1f2124;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.social-link:hover:after {
  color: #ffffff;
}
.vk:after {
  content: "\e90c";
  font-size: 9px;
}
.vk:hover {
  background: #45668e;
  border: 1px solid #45668e;
}
.fb:after {
  content: "\e90a";
  font-size: 12px;
}
.fb:hover {
  background: #3b5998;
  border: 1px solid #3b5998;
}
.ok:after {
  content: "\e90b";
  font-size: 14px;
}
.ok:hover {
  background: #F6881F;
  border: 1px solid #F6881F;
}
.yt:after {
  content: "\e90d";
  left: 56%;
  font-size: 13px;
}
.yt:hover {
  background: #bb0000;
  border: 1px solid #bb0000;
}
.subfooter {
  padding: 40px 0;
}
.copy {
  float: left;
  font-size: 14px;
  color: #1f2124;
}
.footer-tel {
  float: right;
  font-size: 14px;
  color: #1f2124;
}
.footer-tel a {
  padding-left: 20px;
}
@media only screen and (max-width: 1260px) {
  .slick-prev {
    left: 0;
    z-index: 1000;
  }
  .slick-next {
    right: 0;
    z-index: 1000;
  }
}
@media only screen and (max-width: 1199px) {
  .top-header .top-info {
    padding-left: 5px;
  }
  .top-header .top-menu {
    padding: 0 0.7%;
  }
  .top-header .top-menu .icon-menu {
    margin: 0 20%;
  }
  .top-header .sign-in {
    width: 10%;
  }
  .filters-title {
    display: block;
    margin: 10px 0;
  }
  .category-product-thumb {
    width: auto;
    height: auto;
  }
  .product-cart-title {
    max-width: 300px;
    width: 20%;
  }
}
@media only screen and (max-width: 1150px) {
  .top-header .info {
    display: none;
  }
  .top-header .top-info {
    text-align: right;
  }
  .top-header .top-callback {
    text-align: left;
  }
  .top-header .top-links {
    min-width: 252px;
  }
  .nav li a {
    font-size: 14px;
  }
  .nav li {
    padding: 0 13px;
  }
  .nav-second,
  .search .search-line {
    top: 90px;
  }
}
@media only screen and (max-width: 1050px) {
  .top-header .top-info {
    text-align: right;
    width: 22%;
  }
  .top-header .top-callback {
    text-align: center;
    width: 21%;
  }
  .top-header .sign-up {
    width: 11%;
  }
  .top-header .sign-in {
    width: 13%;
  }
  .nav li {
    padding: 0 10px;
  }
  .nav li a {
    padding: 33px 0 41px;
  }
  .search {
    width: 60px;
  }
  .logo {
    width: 182px;
  }
  .search i.icon-search {
    margin: 31px 0 36px 25px;
  }
  .nav-second {
    top: 88px;
    padding: 35px 0 30px;
  }
  .search .search-line {
    top: 88px;
  }
  .submenu-items li {
    padding: 0;
  }
  .submenu-items li a {
    padding: 0;
  }
  h5.submenu-title {
    font-size: 16px;
  }
  #stunning-header {
    padding: 40px 0;
    border-bottom: 1px solid #ebebed;
  }
  .sidebar {
    display: none;
  }
  .category-content {
    width: 100%;
  }
  .product-data .col-md-7 {
    width: 50%;
  }
  .product-data .col-md-5 {
    width: 50%;
  }
  .product-info-text {
    padding: 0;
  }
  .personal-data-col {
    width: 100%;
    float: none;
  }
  .post-thumbnail:after {
    display: none;
  }
  .post-preview {
    border-bottom: 1px solid #ebebed;
  }
  .post-preview:last-child {
    border-bottom: 0;
  }
  .carousel-nav {
    top: 15px;
  }
  .cart-content {
    line-height: 85px;
  }
  .product-cart-title,
  .product-cart-cost,
  .product-cart-total-cost {
    font-size: 13px;
  }
  .product-cart-thumb {
    width: 100px !important;
  }
  .product-info {
    margin: 0 0 20px;
  }
}
@media only screen and (max-width: 899px) {
  .top-header .top-links {
    min-width: 222px;
  }
  .top-header .top-links li {
    padding: 0 6px;
  }
  .top-header .top-info {
    width: 25%;
    text-align: left;
  }
  .top-header .sign-in {
    width: 15%;
  }
  .top-header .top-callback {
    text-align: left;
    width: 15%;
  }
  .search .search-line {
    box-shadow: 0 11px 17px -4px rgba(0, 0, 0, 0.13);
  }
  .top-header .top-callback a {
    margin-left: 10px;
  }
  .logo {
    width: 150px;
  }
  .search {
    width: 30px;
  }
  .search .search-line .search-form:before {
    display: none;
  }
  .search .search-line input {
    font-size: 16px;
    margin-left: 10px;
    height: auto;
    letter-spacing: 0;
  }
  .search i.icon-search {
    margin: 23px 0 22px 13px;
  }
  .nav li {
    padding: 0 7px;
  }
  .nav li a {
    padding: 25px 0 27px;
    font-size: 13px;
  }
  .nav-second,
  .search .search-line {
    top: 65px;
  }
  .submenu-items li {
    padding: 0;
  }
  .submenu-items li a {
    padding: 0;
  }
  h5.submenu-title {
    font-size: 14px;
  }
  .top-sales-item {
    margin-bottom: 30px;
  }
  .product-data .col-md-7,
  .product-data .col-md-5 {
    width: 100%;
  }
  .product-gallery {
    margin: 15px 0;
    /*height: 70vw;*/
  }
  .product-gallery .slick-slide img {
    max-height: 70vw;
  }
  h3.product-title {
    font-size: 26px;
  }
  .size-btn {
    padding: 0 19px;
  }
  .features-row {
    margin: 0;
  }
  .lk-navigation {
    width: 100%;
  }
  .lk-nav {
    text-align: center;
  }
  .lk-nav li {
    display: inline-block;
    width: 13%;
    margin-right: 2%;
  }
  .lk-nav li span {
    display: none;
  }
  .lk-nav-link.active:after {
    display: none;
  }
  #banner-slider .slider-title {
    font-size: 30px;
    top: 25%;
  }
  .banner-btn {
    top: 50%;
  }
  .top-header,
  .bottom-header {
    display: none;
  }
  header {
    padding: 10px 0 0;
  }
  .mobile-header {
    display: block;
  }
  .cart-content {
    line-height: 64px;
  }
  .seo-text {
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    -webkit-column-rule: 0px solid transparent;
    -moz-column-rule: 0px solid transparent;
    column-rule: 0px solid transparent;
  }
  .top-links li {
    padding: 0 20px 0 0;
  }
  .open-mobile-menu .sign-up,
  .open-mobile-menu .sign-in {
    text-align: left;
  }
  .top-links,
  .top-info {
    max-width: 258px;
  }
  .slider-nav {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .search .search-line {
    top: 76px;
  }
  .search {
    width: 30px;
    height: 60px;
    margin: 0;
  }
  .search i.icon-search {
    display: block;
    margin-left: 5px;
  }
  .search .search-line input {
    font-size: 14px;
  }
  #home-slider {
    padding: 20px 0 0;
  }
  h1 {
    font-size: 5vw;
  }
  h1.big-title {
    font-size: 8vw;
  }
  h1.single-post-header {
    font-size: 30px;
  }
  .post-content h4 {
    font-size: 24px;
  }
  .slider-title {
    left: 25px;
  }
  .slick-dots {
    left: 25px;
    bottom: 10px;
  }
  h3.product-info-title {
    font-size: 28px;
    margin-top: 10px;
  }
  .product-info-text p {
    font-size: 14px;
    line-height: 1.4;
  }
  .post-thumbnail,
  .post-info {
    width: 100%;
    float: none;
    padding: 0;
  }
  .post-info {
    margin: 35px 0 0;
  }
  #banner-slider {
    padding: 10px 0;
  }
  #banner-slider .slider-title {
    top: 25%;
    font-size: 22px;
  }
  #banner-slider .banner-btn {
    left: 25px;
    top: 50%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
  h4.post-title {
    font-size: 26px;
  }
  .post-content {
    padding-left: 0;
  }
  .share-buttons {
    position: relative;
  }
  .share-buttons:before,
  .share-buttons:after {
    content: '';
    display: table;
    clear: both;
  }
  .share-buttons ul {
    display: block;
  }
  .share-buttons li {
    display: block;
    float: left;
  }
  article {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 700px) {
  header .container,
  #home-slider .container {
    width: 100%;
  }
  #our-features {
    padding: 60px 0 0;
  }
  .features-row {
    margin-bottom: 0;
  }
  .features-item {
    height: initial;
    margin-bottom: 40px;
  }
  .extra-link,
  .lk-link {
    float: none;
  }
  .extra-link:after,
  .lk-link:after {
    top: -8px;
  }
  .section-titles h2 {
    float: none;
  }
  .testimonials-carousel {
    margin: 20px 0 0;
  }
  .testimonials-item {
    margin: 0;
  }
  .thumb-link {
    height: auto;
  }
  .dd-container {
    display: block;
    margin: 10px 0;
  }
  h4.lk-inner-title {
    display: block;
    margin-bottom: 0;
  }
  tr,
  td,
  table,
  tbody {
    display: block;
    width: 100% !important;
  }
  tr {
    border-bottom: 1px solid #ebebed;
    margin-bottom: 20px;
  }
  tr:last-child {
    border-bottom: 0;
  }
  #banner-slider .slider-title {
    font-size: 18px;
  }
  .post-content img {
    width: 100%;
  }
  .table-head {
    display: none;
  }
  .product-item td {
    display: block;
    text-align: left;
    padding: 0 0 0 100px;
    /*width: 100% !important;*/
  }
  .product-cart-title {
    padding-top: 30px !important;
  }
  .product-cart-cost,
  .product-cart-quantity,
  .product-cart-total-cost,
  .product-cart-x {
    padding-top: 20px !important;
  }
  .product-cart-x {
    text-align: right !important;
  }
  .product-cart-thumb {
    position: relative;
  }
  .product-cart-thumb:before {
    content: "Название";
    position: absolute;
    left: 0;
    color: #84848d;
    font-size: 13px;
  }
  .product-cart-thumb img {
    width: 145px;
  }
  .product-cart-cost {
    position: relative;
  }
  .product-cart-cost:before {
    content: "Стоимость";
    position: absolute;
    left: 0;
    color: #84848d;
    font-size: 13px;
  }
  .product-cart-quantity {
    position: relative;
  }
  .product-cart-quantity:before {
    content: "Количество";
    position: absolute;
    left: 0;
    color: #84848d;
    font-size: 13px;
    top: 34px;
  }
  .product-cart-total-cost {
    position: relative;
  }
  .product-cart-total-cost:before {
    content: "Сумма";
    position: absolute;
    left: 0;
    color: #84848d;
    font-size: 13px;
  }
  .total {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
  }
  .checkout-order,
  .clear-cart {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
  }
  .product-popup {
    width: 300px;
    padding: 30px;
  }
  .product-popup h4 {
    font-size: 18px;
    letter-spacing: 0;
  }
  .product-popup h3 {
    font-size: 12px;
  }
  .product-popup-info-thumb {
    width: 100px;
    margin: 0 auto 20px;
  }
  .product-popup-qty,
  .product-popup-cost {
    display: inline-block;
    font-size: 12px;
  }
  .product-popup-qty {
    float: right;
  }
  .product-popup-buttons .btn {
    font-size: 11px;
    margin-bottom: 10px;
    width: 100%;
  }
  .product-gallery .slick-slide img {
    max-height: 343px;
  }
}
@media only screen and (max-width: 490px) {
  .copy,
  .footer-tel {
    float: none;
    margin: 10px 0 0;
  }
  .copy a,
  .footer-tel a {
    padding: 0;
  }
  .copy a:last-child,
  .footer-tel a:last-child {
    padding-left: 20px;
  }
  .slick-next {
    right: -15px;
    top: 35%;
  }
  .slick-prev {
    left: -15px;
    z-index: 1;
    top: 35%;
  }
  .testimonials-carousel .slick-next {
    right: -15px;
  }
  .testimonials-carousel .slick-prev {
    left: -15px;
  }
  .testimonials-meta {
    padding-left: 0;
  }
  .pagination-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
  }
  .all-page {
    width: auto;
  }
  .catalogue-icon-pdf,
  .price-list-icon-xls {
    padding-left: 30px;
  }
  .personal-data-item span {
    display: block;
  }
  .total-cart {
    width: 45px;
  }
  .cart-box {
    right: 10px;
  }
  .bulk-buy,
  .retail-buy {
    width: 100%;
    margin-bottom: 10px;
  }
  .product-gallery .slick-slide img {
    height: 70vw;
    width: 100%;
  }
}
